/* Style 3B - color inset - outline */
&.design-6 {
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean a,
	.secondary-menu a,
	.footer-center-menu a,
	.header-left .sm-clean a,
	.header-right .sm-clean a {
		border: 1px solid #f95b26 !important;
		padding: 10px 40px;
	}
	.sm-clean li {
		border-top: none;
	}
	.header-top #main-menu {
		padding-bottom: 0px;
	}
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean a.highlighted,
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean a:active,
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean a:focus,
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean a:hover,
	.standard-menu-enabled:not(.header-left):not(.header-right) .current-menu-item > a {
		border: 1px solid #f95b26 !important;
		padding: 10px 40px;	
	}
	.secondary-menu a:active,
	.secondary-menu a:focus,
	.secondary-menu a:hover,
	.footer-center-menu a:active,
	.footer-center-menu a:focus,
	.footer-center-menu a:hover,
	.standard-menu-enabled .sm-clean a.highlighted,
	.standard-menu-enabled .sm-clean a:active,
	.standard-menu-enabled .sm-clean a:focus,
	.standard-menu-enabled .sm-clean a:hover,
	.standard-menu-enabled .current-menu-item > a,
	.secondary-menu .current-menu-item > a,
	.footer-center-menu .current-menu-item > a {
		border: 1px solid #f95b26 !important;
	}
	.secondary-menu li,
	.footer-center-items li {
		margin-bottom: 16px;
	}
	.footer-center-menu-wrapper {
		margin-top: 10px;
	}

	/* reverses framework code */
	.secondary-menu .list-inline > li,
	.footer-menu .list-inline > li {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.footer-center-items.list-inline > li:not(:first-of-type) {
		margin-left: 0em;
	}

	/* dropdown */
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean ul {
		border: 1px solid #f95b26 !important;
		padding: 0 !important;
		background: #000;
		border-radius: 0px !important;
	}
	.header-top .sm-clean.main-menu ul.sub-menu li > a.highlighted,
	.header-top .sm-clean.main-menu ul.sub-menu li > a:active,
	.header-top .sm-clean.main-menu ul.sub-menu li > a:focus,
	.header-top .sm-clean.main-menu ul.sub-menu li > a:hover {
		border-bottom: 1px solid #f95b26 !important;
		border-top: 1px solid #f95b26 !important;
	}
	.header-top .sm-clean.main-menu ul.sub-menu a {
		border-bottom: 1px solid transparent !important;
		border-top: 1px solid transparent !important;
	}

	/* carrot above dropdown */
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean > li > ul::after,
	.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean > li > ul::before {
		border-color: transparent transparent #f95b26;
	}
}
