/* reverses framework code */
.secondary-menu a:active,
.secondary-menu a:focus,
.secondary-menu a:hover,
.footer-center-menu a:active,
.footer-center-menu a:focus,
.footer-center-menu a:hover {
	text-decoration: none;
}
.boldgrid-framework-menu li::after,
.footer-center-items li::after {
	content: none;
	border-left: none;
}

/* dropdown menu scrollbar */
.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean span.scroll-down,
.standard-menu-enabled:not(.header-left):not(.header-right) .sm-clean span.scroll-up {
	background: #f95b26 !important;
}
