.header-top {

	@media (min-width: 768px) {

		.layout {

			/** Header Top layout-1 **/
			&-1 {
				#main-menu, #secondary-menu {
					align-items: flex-start;
					justify-content: flex-start;
				}
			}

			/** Header Top layout-2 **/
			&-2 {
				#navi {
					flex-direction: row;
				}

				#secondary-menu {
					align-content: flex-start;
					justify-content: flex-start;
				}

				.container .site-branding {
					margin-left: -15px;
				}

				.site-branding {
					align-items: flex-start;
					flex-basis: 50%;
					padding-left: 0;
				}

				#main-menu {
					align-content: flex-end;
					align-items: flex-end;
					justify-content: flex-end;
				}
			}

			/** Header Top layout-3 **/
			&-3 {
				#navi {
					flex-direction: row-reverse;
				}

				#main-menu {
					align-items: flex-end;
					justify-content: flex-start;
				}

				.site-branding {
					align-items: flex-end;
					flex-basis: 50%;
				}
			}

			/** Header Top layout-4 **/
			&-4 {
				.site-branding {
					align-items: center;
				}

				#main-menu, #secondary-menu {
					align-items: center;
					justify-content: center;
				}
			}

			/** Header Top layout-5 **/
			&-5 {
				#secondary-menu, #main-menu {
					align-items: center;
					justify-content: center;
				}

				#navi {
					flex-direction: column-reverse;
				}
			}

			/** Header Top layout-6 **/
			&-6 {
				#secondary-menu {
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

.header-fixed {
	&.header-top {
		.sm, .sm ul, .sm li {
			width: 100%;

			@media (min-width: 768px) {
				width: auto;
			}
		}
	}
}
