/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
.container {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Column Alignment
--------------------------------------------------------------*/
.align-column-top {
	align-self: flex-start;
}
.align-column-center {
	align-self: center;
}
.align-column-bottom {
	align-self: flex-end;
}

/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
.background-fixed  {
    background-attachment: fixed !important;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.boldgrid-section {
    min-height : 30px;
}

.site-header,
.site-footer {
	.boldgrid-section {
		min-height: 0;
	}
}
/*--------------------------------------------------------------
# Maps
--------------------------------------------------------------*/
iframe.boldgrid-google-maps,
.boldgrid-google-maps iframe {
	max-width: 100%;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn,
.button-primary,
.button-secondary {
    white-space: nowrap;
}
