/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

/** Text Effects **/
$text-fx-ns : bg-text-fx;

/** Images **/
$img-ns : bg-img;

/** Shapes **/
$box-ns : bg-box;
$shape-namespaces : bg-box bg-img;
$shape-rounded : 2em;
$shape-pill-radius : 1000px;

/*--------------------------------------------------------------
# Image Borders
--------------------------------------------------------------*/
@import "components/image";

/*--------------------------------------------------------------
# Text Shadows
--------------------------------------------------------------*/
@import "components/text-effect";

/*--------------------------------------------------------------
# Module Backgrounds
--------------------------------------------------------------*/
@import "components/shape";

/*--------------------------------------------------------------
# Generic Helper Classes
--------------------------------------------------------------*/
@import "components/util";