@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?kkveof');
  src:  url('../../fonts/icomoon.eot?kkveof#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?kkveof') format('truetype'),
    url('../../fonts/icomoon.woff?kkveof') format('woff'),
    url('../../fonts/icomoon.svg?kkveof#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  speak: none;
  display: inline;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-size: 1.4em;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  padding: .5em;
  text-transform: none;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-header-logo-left:before {
  content: "\e601";
}
.icon-header-logo-center:before {
  content: "\e602";
}
.icon-header-logo-right:before {
  content: "\e603";
}
.icon-header-logo-top:before {
  content: "\e604";
}
.icon-header-logo-center-top:before {
  content: "\e605";
}
.icon-layout-container:before {
  content: "\e610";
}
.icon-advanced-layout-left:before {
  content: "\e612";
}
.icon-advanced-layout-top:before {
  content: "\e613";
}
.icon-advanced-layout-right:before {
  content: "\e614";
}
.icon-font-size:before {
  content: "\e615";
}
.icon-layout-full-screen:before {
  content: "\e627";
}
.icon-layout-container-fluid:before {
  content: "\e628";
}
.icon-sidebar-left-right:before {
  content: "\e62c";
}
.icon-sidebar-left:before {
  content: "\e62d";
}
.icon-sidebar-right:before {
  content: "\e62e";
}
.icon-font-text-transform:before {
  content: "\e90d";
}
.icon-header-sidebar:before {
  content: "\e91b";
}
.icon-footer-settings:before {
  content: "\e924";
}
.icon-header-settings:before {
  content: "\e927";
}
.icon-sidebar-settings:before {
  content: "\e927";
  display: inline-block !important;
  transform: rotate(-90deg) !important;
  padding: 0 .5em !important;
}
.icon-crio:before,
.icon-crio-enzo:before {
  content: "\e904";
}
