.standard-menu-enabled {
	@media (min-width: 768px) {
		/* Switch to desktop layout ----------------------------------------------- These transform the menu tree from collapsible to desktop (navbar + dropdowns) -----------------------------------------------*/
		/* start... (it's not recommended editing these rules) */
		.sm-clean ul {
			position: absolute;
			width: 12em;
		}
		.sm-clean li {
			float: left;
		}
		.sm-clean.sm-rtl li {
			float: right;
		}
		.sm-clean ul li,
		.sm-clean.sm-rtl ul li,
		.sm-clean.sm-vertical li {
			float: none;
		}
		.sm-clean a {
			white-space: nowrap;
		}
		.sm-clean ul a,
		.sm-clean.sm-vertical a {
			white-space: normal;
		}
		.sm-clean .sm-nowrap > li > a,
		.sm-clean .sm-nowrap > li >:not(ul) a {
			white-space: nowrap;
		}
		/* ...end */
		.sm-clean {
			padding: 0 10px;
		}
		.sm-clean a,
		.sm-clean a:hover,
		.sm-clean a:focus,
		.sm-clean a:active,
		.sm-clean a.highlighted {
			padding: 12px 12px;
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			-ms-border-radius: 0 !important;
			-o-border-radius: 0 !important;
			border-radius: 0 !important;
		}
		.sm-clean a.disabled {
			color: #bbbbbb;
		}
		.sm-clean a.has-submenu {
			padding-right: 24px;
		}
		.sm-clean a span.sub-arrow {
			/* Links */
			a {
				transition: all 500ms linear;
			}
			a {
				text-decoration: none;
				border-bottom: 1px solid rgba(192, 192, 192, 0);
				transition: border 500ms ease;
			}
			a:hover,
			a:focus {
				text-decoration: none;
				border-bottom: 1px solid rgba(192, 192, 192, 1);
			}
			/* Effect 1: Brackets */
			.menu-item a::before,
			.menu-item a::after {
				display: inline-block;
				opacity: 0;
				-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
				-moz-transition: -moz-transform 0.3s, opacity 0.2s;
				transition: transform 0.3s, opacity 0.2s;
			}
			.menu-item a::before {
				margin-right: 10px;
				content: '[';
				-webkit-transform: translateX(20px);
				-moz-transform: translateX(20px);
				transform: translateX(20px);
			}
			.menu-item a::after {
				margin-left: 10px;
				content: ']';
				-webkit-transform: translateX(-20px);
				-moz-transform: translateX(-20px);
				transform: translateX(-20px);
			}
			.menu-item a:hover::before,
			.menu-item a:hover::after,
			.menu-item a:focus::before,
			.menu-item a:focus::after {
				opacity: 1;
				-webkit-transform: translateX(0px);
				-moz-transform: translateX(0px);
				transform: translateX(0px);
			}
			top: 50%;
			margin-top: -2px;
			right: 12px;
			width: 0;
			height: 0;
			border-width: 4px;
			border-style: solid dashed dashed dashed;
			border-color: currentColor transparent transparent transparent;
			background: transparent;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-ms-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
		}
		.sm-clean a.highlighted span.sub-arrow:before {
			display: none;
		}
		.sm-clean li {
			border-top: 0;
		}
		.sm-clean > li > ul:before,
		.sm-clean > li > ul:after {
			content: '';
			position: absolute;
			top: -18px;
			left: 30px;
			width: 0;
			height: 0;
			overflow: hidden;
			border-width: 9px;
			border-style: dashed dashed solid dashed;
			border-color: transparent transparent #bbbbbb transparent;
		}
		.sm-clean > li > ul:after {
			top: -16px;
			left: 31px;
			border-width: 8px;
			border-color: transparent transparent white transparent;
		}
		.sm-clean ul {
			border: 1px solid #bbbbbb;
			padding: 5px 0;
			background: white;
			-webkit-border-radius: 5px !important;
			-moz-border-radius: 5px !important;
			-ms-border-radius: 5px !important;
			-o-border-radius: 5px !important;
			border-radius: 5px !important;
			-webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
			box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
		}
		.sm-clean ul a,
		.sm-clean ul a:hover,
		.sm-clean ul a:focus,
		.sm-clean ul a:active,
		.sm-clean ul a.highlighted {
			border: 0 !important;
			padding: 10px 20px;
		}
		.sm-clean ul a.disabled {
			background: white;
			color: #cccccc;
		}
		.sm-clean ul a.has-submenu {
			padding-right: 20px;
		}
		.sm-clean ul a span.sub-arrow {
			right: 8px;
			top: 50%;
			margin-top: -5px;
			border-width: 5px;
			border-style: dashed dashed dashed solid;
			border-color: transparent transparent transparent currentColor;
		}
		.sm-clean span.scroll-up,
		.sm-clean span.scroll-down {
			position: absolute;
			display: none;
			visibility: hidden;
			overflow: hidden;
			background: white;
			height: 20px;
		}
		.sm-clean span.scroll-up:hover,
		.sm-clean span.scroll-down:hover {
			background: #eeeeee;
		}
		.sm-clean span.scroll-up:hover span.scroll-up-arrow,
		.sm-clean span.scroll-up:hover span.scroll-down-arrow {
			border-color: transparent transparent currentColor transparent;
		}
		.sm-clean span.scroll-down:hover span.scroll-down-arrow {
			border-color: currentColor transparent transparent transparent;
		}
		.sm-clean span.scroll-up-arrow,
		.sm-clean span.scroll-down-arrow {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -6px;
			width: 0;
			height: 0;
			overflow: hidden;
			border-width: 6px;
			border-style: dashed dashed solid dashed;
			border-color: transparent transparent currentColor transparent;
		}
		.sm-clean span.scroll-down-arrow {
			top: 8px;
			border-style: solid dashed dashed dashed;
			border-color: currentColor transparent transparent transparent;
		}
		.sm-clean.sm-rtl a.has-submenu {
			padding-right: 12px;
			padding-left: 24px;
		}
		.sm-clean.sm-rtl a span.sub-arrow {
			right: auto;
			left: 12px;
		}
		.sm-clean.sm-rtl.sm-vertical a.has-submenu {
			padding: 10px 20px;
		}
		.sm-clean.sm-rtl.sm-vertical a span.sub-arrow {
			right: auto;
			left: 8px;
			border-style: dashed solid dashed dashed;
			border-color: transparent currentColor transparent transparent;
		}
		.sm-clean.sm-rtl > li > ul:before {
			left: auto;
			right: 30px;
		}
		.sm-clean.sm-rtl > li > ul:after {
			left: auto;
			right: 31px;
		}
		.sm-clean.sm-rtl ul a.has-submenu {
			padding: 10px 20px !important;
		}
		.sm-clean.sm-rtl ul a span.sub-arrow {
			right: auto;
			left: 8px;
			border-style: dashed solid dashed dashed;
			border-color: transparent currentColor transparent transparent;
		}
		.sm-clean.sm-vertical {
			padding: 10px 0;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
		}
		.sm-clean.sm-vertical a {
			padding: 10px 20px;
		}
		.sm-clean.sm-vertical a:hover,
		.sm-clean.sm-vertical a:focus,
		.sm-clean.sm-vertical a:active,
		.sm-clean.sm-vertical a.highlighted {
			background: white;
		}
		.sm-clean.sm-vertical a.disabled {
			background: #eeeeee;
		}
		.sm-clean.sm-vertical a span.sub-arrow {
			right: 8px;
			top: 50%;
			margin-top: -5px;
			border-width: 5px;
			border-style: dashed dashed dashed solid;
			border-color: transparent transparent transparent currentColor;
		}
		.sm-clean.sm-vertical > li > ul:before,
		.sm-clean.sm-vertical > li > ul:after {
			display: none;
		}
		.sm-clean.sm-vertical ul a {
			padding: 10px 20px;
		}
		.sm-clean.sm-vertical ul a:hover,
		.sm-clean.sm-vertical ul a:focus,
		.sm-clean.sm-vertical ul a:active,
		.sm-clean.sm-vertical ul a.highlighted {
			background: #eeeeee;
		}
		.sm-clean.sm-vertical ul a.disabled {
			background: white;
		}
	}

	/* Menu Mobile */
	label[id$="-menu-btn"] {
		position: relative;
		display: flex;
		align-self: flex-end;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		z-index: 2;
	}

	/* hide menu state checkbox (keep it visible to screen readers) */
	input[id$="-menu-state"] {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}

	// Hide the menu in mobile view.
	input:not(:checked):not(.hidden) ~ .sm-clean {
		display: none;
	}
	input:checked ~ .sm-clean {
		display: block;
	}

	@media only screen and (min-width: 768px) {
		/* hide the button in desktop view */
		label[id$="-menu-btn"] {
			position: absolute;
			top: -99999px;
		}

		/* always show the menu in desktop view */
		input:checked ~ .sm-clean,
		input:not(:checked):not(.hidden) ~ .sm-clean {
			display: flex;
			width: 100%;
			flex-direction: row;
		}
	}

	/* prevent text rendering degrade during animation in Mac browsers */
	#main-menu.logo.logo-left .site-title {
		display: flex;
		order: -1;
	}
	#main-menu.logo.logo-center .site-title {
		display: flex;
		order: 0;
	}
	#main-menu.logo.logo-right .site-title {
		display: flex;
		order: 1;
	}
	#main-menu.center {
		display: flex;
		justify-content: center;
	}
	#main-menu.space-evenly {
		display: flex;
		justify-content: space-evenly;
	}
	#main-menu.left {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
	#main-menu.right {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.sm-clean {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	/* show animation */
	.sm-clean ul.show-animation {
		-webkit-animation: show-animation 0.2s;
		animation: show-animation 0.2s;
	}
	@-webkit-keyframes show-animation {
		0% {
			-webkit-transform: scale3d(0, 0, 1);
			opacity: 0;
		}
		60% {
			-webkit-transform: scale3d(1.05, 1.05, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
	@keyframes show-animation {
		0% {
			transform: scale3d(0, 0, 1);
			opacity: 0;
		}
		60% {
			transform: scale3d(1.05, 1.05, 1);
		}
		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
	/* hide animation */
	.sm-clean ul.hide-animation {
		-webkit-animation: hide-animation 0.2s;
		animation: hide-animation 0.2s;
	}
	@-webkit-keyframes hide-animation {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			opacity: 1;
		}
		100% {
			-webkit-transform: scale3d(0, 0, 1);
			opacity: 0;
		}
	}
	@keyframes hide-animation {
		0% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
		100% {
			transform: scale3d(0, 0, 1);
			opacity: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.sm.sm-clean {
		padding-left: 15px;
		padding-right: 15px;
	}
}
