@media only screen and (min-width: 768px) {
	.header-top {
		.bgtfw-menu-wrap {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
		}
	}
}

.header-top {
	.bgtfw-menu-wrap {
		@include align-control();
	}

	.sm {
		@include align-control();
	}
}

@media only screen and (min-width: 768px) {
	.header-left, .header-right {
		&.standard-menu-enabled {
			.bgtfw-menu-wrap {
				input:not(:checked):not(.hidden)~.sm-clean {
					flex-direction: column
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	#masthead {
		.container {
			width: 100%;
		}
	}
}


.standard-menu-enabled {
	.site-footer .sm-clean {
		z-index: 200;
	}
	.site-header .sm-clean {
		z-index: 201;
		&#secondary-menu {
			z-index: 202;
		}
	}
	&.header-fixed {
		&.header-left, &.header-right {
			.site-header {
				z-index: 200;
			}
		}
	}

	.sm-clean {
		background: transparent;
	}
	.sm-clean a,
	.sm-clean a:hover,
	.sm-clean a:focus,
	.sm-clean a:active,
	.sm-clean a.highlighted {
		display: inline-block;
		padding: 13px 20px;
		text-decoration: none;
		width: 100%;
	}
	.sm-clean a.disabled {
		color: #bbbbbb;
	}
	.sm-clean a span.sub-arrow {
		position: relative;
		right: auto;
		width: 34px;
		height: 34px;
		overflow: hidden;
		display:inline-block;
		vertical-align: middle;
		margin-top: inherit;
		margin-left: 5px;
		font: bold 16px/34px monospace !important;
		text-align: center;
		text-shadow: none;
		background: rgba(255, 255, 255, 0.5);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	.sm-clean a .sub-arrow {
		position: absolute;
		top: 50%;
		margin-top: -17px;
		left: auto;
		right: 4px;
		width: 34px;
		height: 34px;
		overflow: hidden;
		font: bold 16px/34px monospace !important;
		text-align: center;
		text-shadow: none;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 5px;
	}
	.sm-clean a .sub-arrow::before {
		content: '+';
	}
	.sm-clean a.highlighted .sub-arrow::before {
		content: '-';
	}
	.sm-clean a.highlighted span.sub-arrow:before {
		display: block;
		content: '-';
	}
	.mobile-menu-indent .sm-clean ul a,
	.mobile-menu-indent .sm-clean ul a:hover,
	.mobile-menu-indent .sm-clean ul a:focus,
	.mobile-menu-indent .sm-clean ul a:active {
		border-left: 8px solid transparent;
	}
	.mobile-menu-indent .sm-clean ul ul a,
	.mobile-menu-indent .sm-clean ul ul a:hover,
	.mobile-menu-indent .sm-clean ul ul a:focus,
	.mobile-menu-indent .sm-clean ul ul a:active {
		border-left: 16px solid transparent;
	}
	.mobile-menu-indent .sm-clean ul ul ul a,
	.mobile-menu-indent .sm-clean ul ul ul a:hover,
	.mobile-menu-indent .sm-clean ul ul ul a:focus,
	.mobile-menu-indent .sm-clean ul ul ul a:active {
		border-left: 24px solid transparent;
	}
	.mobile-menu-indent .sm-clean ul ul ul ul a,
	.mobile-menu-indent .sm-clean ul ul ul ul a:hover,
	.mobile-menu-indent .sm-clean ul ul ul ul a:focus,
	.mobile-menu-indent .sm-clean ul ul ul ul a:active {
		border-left: 32px solid transparent;
	}
	.mobile-menu-indent .sm-clean ul ul ul ul ul a,
	.mobile-menu-indent .sm-clean ul ul ul ul ul a:hover,
	.mobile-menu-indent .sm-clean ul ul ul ul ul a:focus,
	.mobile-menu-indent .sm-clean ul ul ul ul ul a:active {
		border-left: 40px solid transparent;
	}

	// Desktop view.
	.site-footer,
	&:not(.header-left):not(.header-right) .site-header,
	&.boldgrid-component-menu,
	&.crio-premium-site-header {
		@media (min-width: 768px) {
			.full-width {
				.sm {
					width: 100%;
				}
			}
			.sm-clean ul {
				position: absolute;
				width: 12em;
			}
			.sm-clean li {
				float: left;
			}

			// Left aligned menus need to line up with everything else.
			.sm-clean.w,
			.sm-clean.nw,
			.sm-clean.sw {
				&:not( .sm-vertical ) {
					li:first-of-type a {
						padding-left: 0px;
					}
				}
			}

			// Right aligned menus need to line up with everything else.
			.sm-clean.e,
			.sm-clean.ne,
			.sm-clean.se {
				&:not( .sm-vertical ) {
					li:last-of-type a {
						padding-right: 0px;
					}
				}
				&.sm-vertical {
					ul.sub-arrow {
						margin-right: -20px;
					}
				}
			}
			.sm-clean.sm-rtl li {
				float: right;
			}
			.sm-clean ul li,
			.sm-clean.sm-rtl ul li,
			.sm-clean.sm-vertical li {
				float: none;
			}
			.sm-clean a {
				white-space: nowrap;
			}
			.sm-clean ul a,
			.sm-clean.sm-vertical a {
				white-space: normal;
			}
			.sm-clean .sm-nowrap > li > a,
			.sm-clean .sm-nowrap > li >:not(ul) a {
				white-space: nowrap;
			}
			/* ...end */
			.sm-clean {
				padding: 0;
			}
			.sm-clean a.disabled {
				color: #bbbbbb;
			}
			.sm-clean a.has-submenu {
				padding-right: 24px;
			}
			.sm-clean a span.sub-arrow {
				top: 50%;
				margin-top: -2px;
				right: auto;
				width: 0;
				height: 0;
				border-width: 4px;
				border-style: solid dashed dashed dashed;
				border-color: currentColor transparent transparent transparent;
				background: transparent;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-ms-border-radius: 0;
				-o-border-radius: 0;
				border-radius: 0;
			}
			.sm-clean a.highlighted span.sub-arrow:before {
				display: none;
			}
			.sm-clean li:not(.btn-border) {
				border-top: 0;
			}
			.sm-clean > li > ul:before,
			.sm-clean > li > ul:after {
				content: '';
				position: absolute;
				top: -18px;
				left: 30px;
				width: 0;
				height: 0;
				overflow: hidden;
				border-width: 9px;
				border-style: dashed dashed solid dashed;
				border-color: transparent transparent #bbbbbb transparent;
			}
			.sm-clean > li > ul:after {
				top: -16px;
				left: 31px;
				border-width: 8px;
				border-color: transparent transparent white transparent;
			}
			.sm-clean ul {
				border: 1px solid #bbbbbb;
				padding: 5px 0;
				background: white;
				border-radius: 5px;
				box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
			}
			.sm-clean ul a,
			.sm-clean ul a:hover,
			.sm-clean ul a:focus,
			.sm-clean ul a:active,
			.sm-clean ul a.highlighted {
				border: 0 !important;
				padding: 10px 20px;
			}
			.sm-clean ul a.disabled {
				background: white;
				color: #cccccc;
			}
			.sm-clean ul a.has-submenu {
				padding-right: 20px;
			}
			.sm-clean ul a span.sub-arrow {
				right: auto;
				top: 50%;
				margin-top: -5px;
				border-width: 5px;
				border-style: dashed dashed dashed solid;
				border-color: transparent transparent transparent currentColor;
			}
			.sm-clean span.scroll-up,
			.sm-clean span.scroll-down {
				position: absolute;
				display: none;
				visibility: hidden;
				overflow: hidden;
				background: white;
				height: 20px;
			}
			.sm-clean span.scroll-up:hover,
			.sm-clean span.scroll-down:hover {
				background: #eeeeee;
			}
			.sm-clean span.scroll-up:hover span.scroll-up-arrow,
			.sm-clean span.scroll-up:hover span.scroll-down-arrow {
				border-color: transparent transparent currentColor transparent;
			}
			.sm-clean span.scroll-down:hover span.scroll-down-arrow {
				border-color: currentColor transparent transparent transparent;
			}
			.sm-clean span.scroll-up-arrow,
			.sm-clean span.scroll-down-arrow {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -6px;
				width: 0;
				height: 0;
				overflow: hidden;
				border-width: 6px;
				border-style: dashed dashed solid dashed;
				border-color: transparent transparent currentColor transparent;
			}
			.sm-clean span.scroll-down-arrow {
				top: 8px;
				border-style: solid dashed dashed dashed;
				border-color: currentColor transparent transparent transparent;
			}
			.sm-clean.sm-rtl a.has-submenu {
				padding-right: 12px;
				padding-left: 24px;
			}
			.sm-clean.sm-rtl a span.sub-arrow {
				right: auto;
				left: 12px;
			}
			.sm-clean.sm-rtl.sm-vertical a.has-submenu {
				padding: 10px 20px;
			}
			.sm-clean.sm-rtl.sm-vertical a span.sub-arrow {
				right: auto;
				left: 8px;
				border-style: dashed solid dashed dashed;
				border-color: transparent currentColor transparent transparent;
			}
			.sm-clean.sm-rtl > li > ul:before {
				left: auto;
				right: 30px;
			}
			.sm-clean.sm-rtl > li > ul:after {
				left: auto;
				right: 31px;
			}
			.sm-clean.sm-rtl ul a.has-submenu {
				padding: 10px 20px !important;
			}
			.sm-clean.sm-rtl ul a span.sub-arrow {
				right: auto;
				left: 8px;
				border-style: dashed solid dashed dashed;
				border-color: transparent currentColor transparent transparent;
			}
			.sm-clean.sm-vertical {
				flex-direction: column;
				padding: 10px 0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				-o-border-radius: 5px;
				border-radius: 5px;
			}
			.sm-clean.sm-vertical a {
				padding: 10px 20px;
			}
			.sm-clean.sm-vertical a.disabled {
				background: #eeeeee;
			}
			.sm-clean.sm-vertical a span.sub-arrow {
				top: 50%;
				margin-left: 10px;
				border-width: 5px;
				border-style: dashed dashed dashed solid;
				border-color: transparent transparent transparent currentColor;
			}
			.sm-clean.sm-vertical > li > ul:before,
			.sm-clean.sm-vertical > li > ul:after {
				display: none;
			}
			.sm-clean.sm-vertical ul a {
				padding: 10px 20px;
			}
			.sm-clean.sm-vertical ul a:hover,
			.sm-clean.sm-vertical ul a:focus,
			.sm-clean.sm-vertical ul a:active,
			.sm-clean.sm-vertical ul a.highlighted {
				background: #eeeeee;
			}
			.sm-clean.sm-vertical ul a.disabled {
				background: white;
			}
		}
	}

	/* Menu Mobile */
	label[id$="-menu-btn"] {
		position: relative;
		left: 0;
		display: flex;
		align-self: flex-end;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		z-index: 2;
	}

	.bgtfw-menu-wrap {
		&.e,
		&.ne,
		&.se {
			justify-content: flex-end;
			> label {
				justify-content: flex-end;
			}
		}
		&.n,
		&.c,
		&.s {
			justify-content: center;
			> label {
				justify-content: center;
			}
		}
		&.w,
		&.nw,
		&.sw {
			justify-content: flex-start;
			> label {
				justify-content: flex-start;
			}
		}
		&.n,
		&.ne,
		&.nw {
			align-items: flex-start;
			> label {
				align-items: flex-start;
			}
		}
		&.e,
		&.c,
		&.w {
			align-items: center;
			> label {
				align-items: center;
			}
		}
		&.s,
		&.se,
		&.sw {
			align-items: flex-end;
			> label {
				align-items: flex-end;
			}
		}
	}

	input.hidden + label[id$="-menu-btn"] {
		display: none;
	}

	/* hide menu state checkbox (keep it visible to screen readers) */
	input[id$="-menu-state"] {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}

	@media only screen and (max-width: 767px) {
		.bgtfw-menu-wrap {
			// Hide the menu in mobile view.
			&.ham-phone {
				display: block;
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: none;
				}
				input:checked ~ .sm-clean {
					display: block;
					width: 100%;
					li {
						float: none;
					}
				}
			}
			&:not( .ham-phone ) {
				/* hide the button in mobile if not enabled */
				label[id$="-menu-btn"] {
					position: absolute;
					top: -99999px;
				}

				/* always show the menu if hamburger not enabled */
				input:checked ~ .sm-clean,
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: flex;
					width: 100%;
					&.sm-vertical {
						flex-direction: column;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 991px ) {
		.bgtfw-menu-wrap {
			// Hide the menu in tablet view.
			&.ham-tablet {
				display: block;
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: none;
				}
				input:checked ~ .sm-clean {
					display: block;
					width: 100%;
					li {
						float: none;
					}
				}
			}
			&:not( .ham-tablet ) {
				/* hide the button in tablet if not enabled */
				label[id$="-menu-btn"] {
					position: absolute;
					top: -99999px;
				}

				/* always show the menu if hamburger not enabled */
				input:checked ~ .sm-clean,
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: flex;
					width: 100%;
					&.sm-vertical {
						flex-direction: column;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 992px) and (max-width: 1200px ) {
		.bgtfw-menu-wrap {
			// Hide the menu in tablet view.
			&.ham-desktop {
				display: block;
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: none;
				}
				input:checked ~ .sm-clean {
					display: block;
					width: 100%;
					li {
						float: none;
					}
				}
			}
			&:not( .ham-desktop ) {
				/* hide the button in tablet if not enabled */
				label[id$="-menu-btn"] {
					position: absolute;
					top: -99999px;
				}

				/* always show the menu if hamburger not enabled */
				input:checked ~ .sm-clean,
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: flex;
					width: 100%;
					&.sm-vertical {
						flex-direction: column;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		.bgtfw-menu-wrap {
			// Hide the menu in tablet view.
			&.ham-large {
				display: block;
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: none;
				}
				input:checked ~ .sm-clean {
					display: block;
					width: 100%;
					li {
						float: none;
					}
				}
			}
			&:not( .ham-large ) {
				/* hide the button in tablet if not enabled */
				label[id$="-menu-btn"] {
					position: absolute;
					top: -99999px;
				}

				/* always show the menu if hamburger not enabled */
				input:checked ~ .sm-clean,
				input:not(:checked):not(.hidden) ~ .sm-clean {
					display: flex;
					width: 100%;
					&.sm-vertical {
						flex-direction: column;
					}
				}
			}
		}
	}

	.sm-clean {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	/* show animation */
	.sm-clean ul.show-animation {
		-webkit-animation: show-animation 0.2s;
		animation: show-animation 0.2s;
	}
	@-webkit-keyframes show-animation {
		0% {
			-webkit-transform: scale3d(0, 0, 1);
			opacity: 0;
		}
		60% {
			-webkit-transform: scale3d(1.05, 1.05, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
	@keyframes show-animation {
		0% {
			transform: scale3d(0, 0, 1);
			opacity: 0;
		}
		60% {
			transform: scale3d(1.05, 1.05, 1);
		}
		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
	/* hide animation */
	.sm-clean ul.hide-animation {
		-webkit-animation: hide-animation 0.2s;
		animation: hide-animation 0.2s;
	}
	@-webkit-keyframes hide-animation {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			opacity: 1;
		}
		100% {
			-webkit-transform: scale3d(0, 0, 1);
			opacity: 0;
		}
	}
	@keyframes hide-animation {
		0% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
		100% {
			transform: scale3d(0, 0, 1);
			opacity: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.sm.sm-clean {
		padding-left: 15px;
		padding-right: 15px;
	}
}
