&-title {
	display: flex;

	margin-top: 10px;
	margin-bottom: 10px;

	a {
		width: 100%;
		word-break: break-word;
		font-style: normal;

		// Disable any link colors when site title has color.
		@at-root #{selector-append('[class*="color"]', &)} {
			color: currentColor !important;
		}

		&.logo-site-title {
			background: none !important;
			padding: 0px;
		}

		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
}
