li.customize-control-bgtfw-dropdown-menu {
    margin-left: -12px;
    width: calc( 100% + 25px );
}

.bgtfw-dropdown-menu-wrapper {
	position: relative;
    border-bottom: 1px solid #dcdcde;
    background-color: white;

	.bgtfw-dropdown-menu-return.hidden {
		visibility: hidden;
	}

	.bgtfw-dropdown-menu-header {
		display: flex;
		align-items: center;
		justify-content: left;
		height: 55px;
		border:  1px solid #dcdcde;
		span.dashicons.dashicons-arrow-up-alt2 {
			line-height: 1.0em;
		}
		&.collapsed {
			border-bottom: none;
			span.dashicons.dashicons-arrow-up-alt2 {
				transform: rotate(180deg);
			}

			~ div {
				display: none;
			}
		}
		.dropdown-button {
			border-right: 1px solid #dcdcde;
			padding: 10px;
			width: 48px;
			box-sizing: border-box;
			border-left: 4px solid white;
			display: flex;
			align-content: center;
			align-items: center;
			height: 100%;
			&:hover {
				color: #2271b1;
				background: #f6f7f7;
				border-left-color: #2271b1;
				box-shadow: none;
				outline: 2px solid transparent;
				outline-offset: -2px;
			}
		}
		.label {
			padding-left: 10px;
			.bgtfw-dropdown-menu-label {
				font-size: 20px;
				font-weight: 200;
				line-height: 26px;
			}
		}
	}

	.bgtfw-dropdown-menu-content {
		width: calc( 100% - 20px);
		position: relative;
		background-color: white;
		padding: 10px;

		> p {
			font-weight: 600;
			font-size: 1.2em;
			margin: 0px;
			&.bgtfw-dropdown-menu-help-text {
				font-size: inherit;
				font-weight: inherit;
				border-bottom: 1px solid #dcdcde;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
		}

		ul {
			padding-left:10px;
			width: auto;

			&:not(:last-child) {
				border-bottom: solid 1px #dcdcde;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}

			li {
				span {
					color: #2271b1;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
}