.boldgrid-control input {
	width: 16px;
}

.boldgrid-control.slider-control {
	.number,
	.slider {
		background-color: white;
	}
}

.boldgrid-control .pluto-color-control + .iris-picker {
	min-width: 280px;
}

.bg-control-switch.boldgrid-control .mdc-switch {
	top: 5px;
}
