#input_bgtfw_header_preset,
#input_bgtfw_sticky_header_preset {
	label {
		width: 125px;
		height: 125px;
		margin: 10px;
		position: relative;
		display: inline-block;
		img {
			border-radius: 15px;
		}
	}
	input:checked + label img {
		box-shadow: 0 0 5px 5px #2271B1;
		border: 1px solid #fff;
	}

	input {
		display: none;
	}

}

#customize-control-bgtfw_header_preset_branding,
#customize-control-bgtfw_sticky_header_preset_branding {
	ul {
		display: flex;
		justify-content: space-around;
	}
}

.branding_notice {
	background-color: white;
	padding: 5px;
	border-left: 3px solid #ffb900;
	font-style: normal;
	a {
		font-weight: 700;
		font-style: normal;
	}
}