// Base Styles
#customize-controls {
	.control-section-bgtfw_section.open > li.control-section-bgtfw_section {
		margin-left: -12px;
		margin-right: -12px;

		.accordion-section-title {
			color: #555d66;
			background-color: #fff;
			border-left: 4px solid #fff;

			&:after {
				color: #a0a5aa;
			}

			&:hover, &:focus, &:active {
				color: #0073aa;
				background: #f3f3f5;
				border-left-color: #0073aa;

				&:after {
					color: #0073aa;
				}
			}
		}
	}
}

#customize-theme-controls .control-section {
	&#accordion-section-boldgrid_footer_margin_section,
	&#accordion-section-boldgrid_header_margin_section {
		border-top: 20px solid rgba(0, 0, 0, 0.1);
	}
}

/* Extended Section Titles */
span.section-title-extended {
	display: block;
	font-size: 13px;
	font-variant: small-caps;
	font-weight: 400;
	h3.accordion-section-title & {
		margin-left: 3.25em;
		margin-bottom: -6px;
		margin-top: -3px;
	}
}
