.control-section .accordion-section-title,
.customize-pane-child .accordion-section-title {
	line-height: 1.4em;
	&:before {
		line-height: inherit;
	}
}

// Base Styles.
#customize-controls {
	.control-section-bgtfw_section.open > li.control-section-bgtfw_section {
		margin-left: -12px;
		margin-right: -12px;

		.accordion-section-title {
			color: #555d66;
			background-color: #fff;
			border-left: 4px solid #fff;

			&:after {
				color: #a0a5aa;
			}

			&:hover, &:focus, &:active {
				color: #0073aa;
				background: #f3f3f5;
				border-left-color: #0073aa;

				&:after {
					color: #0073aa;
				}
			}
		}
	}
}

// Extended Section Titles.
span.section-title-extended {
	display: block;
	font-size: 13px;
	font-variant: small-caps;
	font-weight: 400;
	h3.accordion-section-title & {
		margin-left: 3.25em;
		margin-bottom: -6px;
		margin-top: -3px;
	}
}

// Force show bgtfw widgets section on WP widgets panel.
#accordion-section-bgtfw_widgets_section {
	display: block !important;
}

/* Upsell Section */
#customize-controls #accordion-section-bgtfw-upsell.control-section-bgtfw-upsell {
	margin-bottom: 17px;
}
#customize-controls .control-section-bgtfw-upsell .accordion-section-title:hover,
#customize-controls .control-section-bgtfw-upsell .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-bgtfw-upsell .accordion-section-title .button {
	margin-top: -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-bgtfw-upsell .accordion-section-title .button {
	margin-left: 0;
	margin-right: 8px;
}

.bgtfw-section-title {
	display: flex;
	align-items: center;

	// Ensure valid font for sections with FA icons.
	// See: https://github.com/BoldGrid/boldgrid-theme-framework/issues/119
	&.fa {
		font: inherit;

		&:before {
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
		}
	}

	// Adjust for inline-block display needed for transform on sidebar icon in section titles.
	// See: https://github.com/BoldGrid/boldgrid-theme-framework/issues/120
	&.icon-sidebar-settings:before {
		transform: rotate(-90deg)!important;
		padding: 0 .5em .5em 0!important;
		display: inline-block !important;
		margin-top: -.5em;
	}
}

#customize-controls #accordion-section-bgtfw-upsell {
	h3.accordion-section-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #1a1a1a;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' version='1' viewbox='0 0 50 50'%3e%3cpath d='M33 573c0-8-2-15 2-22 2-4 0-13-2-18-11-27-9-52-2-79 6-18 7-36 11-54h4l-6 30 4 2 16-43c13-32 25-63 36-95A416 416 0 0 1 310 93c14-6 27-15 43-19 18-3 36-11 56-7 7 2 16 0 23 2l-46 20-22 5c-4 2-11 2-13 5-5 9-12 9-21 6-2 0-4 0-6 2 2 1 2 5 2 5l-34 20c-5 2-9 5-14 5-17-2-31 6-43 16-22 18-42 40-63 58-42 39-65 88-87 140-16 40-25 83-23 128 2 23 0 49 3 72 6 29 13 59 24 86 9 18 27 33 41 49 6 5 11 11 16 18-10-36-23-70-34-104 2-2 6-2 9-4 4 14 6 30 13 45 3 9 12 16 20 25l3-2-21-43c-4-7-6-11 3-11l-21-63h-2v36h-2c0-14 0-27-2-41-2-22 0-43-5-65-7-30-4-59 5-88 4-14 7-31 13-45 5-14 11-31 20-45 23-38 48-76 82-106 9-9 20-14 31-22l32-23c11-7 25-11 36-16 4-2 7-2 9-4 7-9 18-9 29-9 4 2 9 4 13 4l14-2 2 4c-7 3-13 9-20 12-18 9-38 15-56 25-18 11-38 22-48 38-13 20-36 31-43 52 0 2-2 4-4 4-20 14-31 36-41 56-11 18-18 37-29 55-4 8-9 13-13 20-3 7-7 16-9 25-3 15-3 31-7 49-2-5-2-7-4-9h-3l5 74h4l2-6 21 60h4l-4-34h4l25 37 4-1-6-26c34 110 94 198 203 245l-3 13-54-26-6 2h-5l16 18-2 2c-12-7-27-14-39-22l-4 6c4 3 7 5 9 9 31 21 63 36 99 47 43 14 88 14 133 18 35 1 65-15 98-22a329 329 0 0 0 183-124c18-25 38-52 43-85 2-11 9-20 13-30 3-11 5-22 3-31 0-5-10-9-18-14v23c-23 18-27 47-36 76-5-20 2-33 8-45 5-13 5-27 9-42l5-28c-2 0-4 0-4-2l-19 54h-2c3-18 5-38 9-56 3-22 2-41-7-61l-6 5c-3-18-5-34-9-50-2-7-3-13-3-20l1-16 2-7-9-36c-7-27-21-47-39-67-4-4-4-14-6-22-2-3-3-7-7-9-29-18-49-46-79-62 3-2 5-2 5-4l-19-18 9-4-35-18c17-16 27 11 43 2-17-20-25-48-53-57 1-2 5-4 9-6l-11-7c-11-4-22-5-31-7l-29-47c18 0 38-4 56-2 20 2 42 7 61 15 9 3 18 10 27 16l33 12c7 4 10 8 7 17-2 3 3 10 3 12l35-5 3 5-16 25c-4 8-4 11 4 15l9-18c1 0 1 2 3 2 0 3 0 7 2 10 7-3 14-9 20-12l2-4 16 18c-7 4-13 7-20 13l18 11 4-17 21 18 2-1-5-11 1-4 18 7c13 11 26 24 36 36 8 8 17 13 4 24-2 2 0 5 0 10l22-19 10 16c8 9 13 20 22 29 7 7 4 12 0 19-4 6-4 11-5 17l3 1c6-5 13-9 16-16 2-3 0-11-1-16-4-9-11-16-17-29 22 13 26 34 35 51 5 10 14 19 16 28 2 11 11 18 12 27 11 38 24 74 22 114-2 21 7 41 4 59-2 15-2 27-2 42-2 43-16 80-34 118-2 4-2 7-2 13-4 11-9 23-15 34-5 13-9 25-16 38-2 5-9 7-12 12l-6 6c-18 23-34 47-52 68-11 13-27 24-41 36-15 11-29 24-44 34-18 15-37 27-57 35-15 5-29 14-43 19-35 15-69 27-105 31-10 2-19 4-30 4l-54 1c-27 0-54 0-81-3-34-6-69-16-101-25-13-4-25-9-38-17l-48-27c-49-27-88-63-126-104-11-13-18-27-27-41-9-15-22-27-29-44-11-19-18-41-25-63-9-23-16-46-24-70-3-9-3-19-3-30-2-7-2-16-2-24 0-14 0-28-2-43l-3-21 1-13c0-2 4-5 2-7-3-15 2-29 6-42 5-14 9-28 16-41v25c-2 24-7 45-7 69 0 19 1 41 3 61v20c4 3 7 10 11 18l-2 10c0 26 13 47 25 69l6-2-29-77zm669 275v3c6 0 13 4 16 2 17-9 31-20 47-30l-9-13c-18 11-36 23-54 38zM154 583l-6 4 27 57 6-1-27-60zm590 326l-2-4-52 26 1 3 53-25zm111-730h-5l-6 27 20-13c-5-5-7-9-9-14zM46 470h5l2-34h-4l-3 34zM634 51c-2 5-2 7-2 11v10h4l9-19-11-2z' fill='%23212121'/%3e%3cpath d='M591 772c-22 11-43 15-67 18-21 2-43 0-66-2-8 0-15 2-24 0-2 0-5-5-7-7-23-9-47-18-70-25-7-2-15-4-22-4l-3 4 19 9-5 5c-31-9-49-36-70-59h7l-27-31c-5-5-14-7-16-14-7-16-11-32-16-50-20-4-2-20-6-29 2 2 4 4 8 5l-4-25h2l7 22c13 36 39 63 59 93 15 20 38 34 60 49 36 27 75 39 120 45 38 3 74 5 110-7 5 0 9 1 11 3zM587 821l-14 5c-29 4-60 9-88 9-18 0-36-2-53-7-9-4-18-7-27-7-5 0-9-9-14-15 9 0 11 8 13 8 7 3 16 3 25 5 7 0 14-2 21 0 44 7 87 9 130 0h9c-2-2-2 0-2 2zM380 785c38 7 78 14 115 23-41 4-79-9-115-23zM731 304c-16-16-32-28-47-43 13-5 45 24 47 43zM731 274c-20-15-38-31-58-45l2-4 58 45-2 4zM897 186c-11-9-24-20-38-29 20 4 30 16 38 29zM378 119c-3-2-9-3-12-3l39-13 2 4c-11 3-20 7-29 12zM866 134l-36-33c0-2 2-2 2-3l36 32-2 4z' fill='%23212121'/%3e%3c/svg%3e");
		background-size: 56px;
		background-repeat: no-repeat;
		background-position-x: 7px;
		background-position-y: 50%;
		border: 0;
		color: white;
		font-size: 14px;
		padding: 25px 15px 25px 25px;
	}
}
