#customize-control-bgtfw_header_layout_tabs {
	margin-bottom: 0;
	.bgtfw-tabs {
		.bgtfw-tab {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}
#customize-control-bgtfw_header_layout,
#customize-control-bgtfw_sticky_header_layout {
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 0;
}

.bgtfw-sortable-accordion {
	width: calc( 100% - 20px );
	margin: 0 auto;

	.hidden, .hidden + label {
		display: none !important;
	}

	.sortable-wrapper {
		background-color: rgba( 255, 255, 255, .7 );
		border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );

		&:hover {
			cursor: move;
			background-color: rgba( 255, 255, 255, 1 );
			border-color: #999;
		}
		.ui-state-active {

			&.sortable-title:before,
			.sortable-title:before {
				content: "\f0de";
				margin-top: 9px;
			}
		}
		.sortable-title {
			display: flex;
			align-items: center;
			font-size: 11px;
			padding: 0 10px;

			&:before {
				margin-top: -4.5px;
				margin-right: 10px;
				display: inline-block;
				font-family: FontAwesome;
				font-size: 18px;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\f0dd";
			}
			.title {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: pre;
			}
			.title-divider {
				padding-left: 5px;
				padding-right: 5px;
			}
			margin-top: 0;
		}
	}
	.connected-sortable {
		background-color: #eee;
		padding: 10px;
	}
	.bgtfw-add-new-section {
		margin-top: 10px;
		.button-secondary {
			float: right;
			.fa {
				margin-right: 5px;
			}
		}
	}

	.repeater-control.display .control-wrapper,
	.bgtfw-container-control,
	.sortable-actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		i,
		.dashicons
		.bgtfw-icon {
			margin-right: 5px;
		}

		.bgtfw-sortable-control,
		.bgtfw-sortable {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 0 auto;
			text-align: center;
			padding: 0.5em 1em;
			[class^="icon-"], [class*=" icon-"] {
				vertical-align: middle;

				&:before {
					vertical-align: middle;
					font-size: 16px;
					padding: 0;
					padding-right: 5px;
				}
			}
		}
	}

	.repeater-control .direction,
	.bgtfw-sortable-control,
	.bgtfw-sortable {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);

		&:hover {
			background-color: #fafafa;
		}

		&.selected {
			background-color: #00a0d2;
			color: rgba(255, 255, 255, 0.8);
		}

		&.disabled {
			cursor: not-allowed;
			opacity: .6;
			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	.title > em,
	.dashicons-trash {
		color: #a00;
		&.disabled {
			z-index:-1;
			opacity: 0;
		}
		&:hover {
			color: #dc3232;
		}
	}
	.dashicons-trash {
		cursor: pointer;
		position: relative;
		padding: 10px;
		margin-left: auto;
	}
	.repeater {
		background: rgba(255, 255, 255, 0.7);
		border: 1px solid #ddd;
		text-align: left;
		margin-bottom: 10px;
		font-weight: 700;
		color: #555d66;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:hover {
			background: rgba(255, 255, 255, 1);
			border-color: #999;
		}

		.repeater-input {
			width: 100%;
			display: inline-block;
		}

		.repeater-title {

			.dashicons {
				padding-right: 10px;
			}
		}

		.sortable-title {
			padding: 0 10px;
		}

		.repeater-accordion-content {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			background-color: #f1f1f1;
			padding-bottom: .75em;

			&:empty {
				display: none;
			}
		}

		&[data-key="branding"] {

			.repeater-control {
				box-sizing: border-box;
				margin-top: 0;

				&.display {
					border-right: 1px solid #ddd;
				}

				&.align .align-wrapper {
					border-right: none;
				}
			}
		}

		.repeater-control {
			margin-left: auto;
			margin-right: auto;
			margin-top: .75em;

			&.menu-select {
				width: 80%;
			}

			&.attribution {
				label {
					font-weight: 400;
				}
			}

			&.display {
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				width: 50%;

				&:hover,
				&:hover .repeater-control-title {
					border-color: #999;
				}

				.repeater-control-title {
					border-bottom: 1px solid #ddd;
					background-color: rgba(255, 255, 255, 0.7);
					width: 100%;
					padding-top: .25em;
					padding-bottom: .25em;
					text-align: center;
				}

				.control-wrapper {
					font-weight: 400;
					padding: .5em .75em;
					label {
						vertical-align: top;
					}
				}
			}

			&.sidebar-edit {
				padding: 0 .75em;

				.repeater-control-description {
					margin-top: 0;
					font-style: italic;
					font-weight: normal;
				}
				.button-primary {
					display: inline-flex;
					align-items: center;
				}
			}

			&.align {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 50%;

				.repeater-control-title {
					width: 100%;
					padding-top: .25em;
					padding-bottom: .25em;
					text-align: center;
				}

				.align-wrapper {
					background: white;
					border: 1px solid #ddd;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;

					&:hover {
						border-color: #999;
					}

					.direction {
						display: flex;
						justify-content: center;
						align-content: center;
						width: calc( 100% / 3 );
						padding: 5px 0;

						.dashicons-arrow-up:before,
						.dashicons-arrow-down:before {
							margin-left: -2px;
						}
						.dashicons-marker:before {
							position: relative;
							font-size: 14px;
							top: -3px;
						}
						&.nw {
							.dashicons-arrow-up {
								transform: rotateZ(-45deg);
							}
						}
						&.se {
							.dashicons-arrow-down {
								transform: rotateZ(-45deg);
							}
						}
						&.ne {
							.dashicons-arrow-up {
								transform: rotateZ(45deg);
							}
						}
						&.sw {
							.dashicons-arrow-down {
								transform: rotateZ(45deg);
							}
						}
					}
				}
			}
		}
	}
}
