.bgtfw {
	&-tabs {
		display: inline-flex;
	}
	&-tab {
		padding: .75em;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);

		&:hover {
			background-color: #fafafa;
		}

		&.selected {
			background-color: #00a0d2;
			color: rgba(255, 255, 255, 0.8);
		}
	}
}
