.bgtfw-menu a,
.bgtfw-menu a:hover,
.bgtfw-menu a:focus,
.bgtfw-menu a:active {
    padding: 13px 20px;
    /* make room for the toggle button (sub indicator) */

    padding-right: 58px;
    color: #555555;
    text-decoration: none;
}
.bgtfw-menu a span.sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 17.5px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.bgtfw-menu a.highlighted span.sub-arrow:before {
    display: block;
    content: '-';
}
.bgtfw-menu > li:first-child > a,
.bgtfw-menu > li:first-child >:not(ul) a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.bgtfw-menu > li:last-child > a,
.bgtfw-menu > li:last-child > *:not(ul) a,
.bgtfw-menu > li:last-child > ul,
.bgtfw-menu > li:last-child > ul > li:last-child > a,
.bgtfw-menu > li:last-child > ul > li:last-child > *:not(ul) a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.bgtfw-menu > li:last-child > a.highlighted,
.bgtfw-menu > li:last-child > *:not(ul) a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
.bgtfw-menu > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.bgtfw-menu li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.bgtfw-menu > li:first-child {
    border-top: 0;
}
.bgtfw-menu ul {
    background: rgba(162, 162, 162, 0.1);
}
.bgtfw-menu ul a,
.bgtfw-menu ul a:hover,
.bgtfw-menu ul a:focus,
.bgtfw-menu ul a:active {
    border-left: 8px solid transparent;
}
.bgtfw-menu ul ul a,
.bgtfw-menu ul ul a:hover,
.bgtfw-menu ul ul a:focus,
.bgtfw-menu ul ul a:active {
    border-left: 16px solid transparent;
}
.bgtfw-menu ul ul ul a,
.bgtfw-menu ul ul ul a:hover,
.bgtfw-menu ul ul ul a:focus,
.bgtfw-menu ul ul ul a:active {
    border-left: 24px solid transparent;
}
.bgtfw-menu ul ul ul ul a,
.bgtfw-menu ul ul ul ul a:hover,
.bgtfw-menu ul ul ul ul a:focus,
.bgtfw-menu ul ul ul ul a:active {
    border-left: 32px solid transparent;
}
.bgtfw-menu ul ul ul ul ul a,
.bgtfw-menu ul ul ul ul ul a:hover,
.bgtfw-menu ul ul ul ul ul a:focus,
.bgtfw-menu ul ul ul ul ul a:active {
    border-left: 40px solid transparent;
}
@media (min-width: 768px) {
    /* Switch to desktop layout
    -----------------------------------------------
       These transform the menu tree from
       collapsible to desktop (navbar + dropdowns)
    -----------------------------------------------*/
    /* start... (it's not recommended editing these rules) */

    .bgtfw-menu ul {
        position: absolute;
        width: 12em;
    }
    .bgtfw-menu li {
        float: left;
    }
    .bgtfw-menu.sm-rtl li {
        float: right;
    }
    .bgtfw-menu ul li,
    .bgtfw-menu.sm-rtl ul li,
    .bgtfw-menu.sm-vertical li {
        float: none;
    }
    .bgtfw-menu a {
        white-space: nowrap;
    }
    .bgtfw-menu ul a,
    .bgtfw-menu.sm-vertical a {
        white-space: normal;
    }
    .bgtfw-menu .sm-nowrap > li > a,
    .bgtfw-menu .sm-nowrap > li >:not(ul) a {
        white-space: nowrap;
    }
    /* ...end */

    .bgtfw-menu {
        padding: 0 10px;
    }
    .bgtfw-menu a,
    .bgtfw-menu a:hover,
    .bgtfw-menu a:focus,
    .bgtfw-menu a:active,
    .bgtfw-menu a.highlighted {
        padding: 12px 12px;
        color: #555555;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    .bgtfw-menu a.has-submenu {
        padding-right: 24px;
    }
    .bgtfw-menu a span.sub-arrow {
        top: 50%;
        margin-top: -2px;
        right: 17.5px;
        width: 0;
        height: 0;
        border-width: 4px;
        border-style: solid dashed dashed dashed;
        border-color: #555555 transparent transparent transparent;
        background: transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    .bgtfw-menu a.highlighted span.sub-arrow:before {
        display: none;
    }
    .bgtfw-menu li {
        border-top: 0;
    }
    .bgtfw-menu > li > ul:before,
    .bgtfw-menu > li > ul:after {
        content: '';
        position: absolute;
        top: -18px;
        left: 30px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 9px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #bbbbbb transparent;
    }
    .bgtfw-menu > li > ul:after {
        top: -16px;
        left: 31px;
        border-width: 8px;
        border-color: transparent transparent white transparent;
    }
    .bgtfw-menu ul {
        border: 1px solid #bbbbbb;
        padding: 5px 0;
        background: white;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
        border-radius: 5px !important;
        -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    }
    .bgtfw-menu ul a,
    .bgtfw-menu ul a:hover,
    .bgtfw-menu ul a:focus,
    .bgtfw-menu ul a:active,
    .bgtfw-menu ul a.highlighted {
        border: 0 !important;
        padding: 10px 20px;
    }
    .bgtfw-menu ul a.has-submenu {
        padding-right: 20px;
    }
    .bgtfw-menu ul a span.sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -5px;
        border-width: 5px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #555555;
    }
    .bgtfw-menu span.scroll-up,
    .bgtfw-menu span.scroll-down {
        position: absolute;
        display: none;
        visibility: hidden;
        overflow: hidden;
        background: white;
        height: 20px;
    }
    .bgtfw-menu span.scroll-up:hover,
    .bgtfw-menu span.scroll-down:hover {
        background: #eeeeee;
    }
    .bgtfw-menu span.scroll-up:hover span.scroll-up-arrow,
    .bgtfw-menu span.scroll-up:hover span.scroll-down-arrow {
        border-color: transparent transparent #d23600 transparent;
    }
    .bgtfw-menu span.scroll-down:hover span.scroll-down-arrow {
        border-color: #d23600 transparent transparent transparent;
    }
    .bgtfw-menu span.scroll-up-arrow,
    .bgtfw-menu span.scroll-down-arrow {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -6px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 6px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #555555 transparent;
    }
    .bgtfw-menu span.scroll-down-arrow {
        top: 8px;
        border-style: solid dashed dashed dashed;
        border-color: #555555 transparent transparent transparent;
    }
    .bgtfw-menu.sm-rtl a.has-submenu {
        padding-right: 12px;
        padding-left: 24px;
    }
    .bgtfw-menu.sm-rtl a span.sub-arrow {
        right: auto;
        left: 12px;
    }
    .bgtfw-menu.sm-rtl.sm-vertical a.has-submenu {
        padding: 10px 20px;
    }
    .bgtfw-menu.sm-rtl.sm-vertical a span.sub-arrow {
        right: auto;
        left: 8px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #555555 transparent transparent;
    }
    .bgtfw-menu.sm-rtl > li > ul:before {
        left: auto;
        right: 30px;
    }
    .bgtfw-menu.sm-rtl > li > ul:after {
        left: auto;
        right: 31px;
    }
    .bgtfw-menu.sm-rtl ul a.has-submenu {
        padding: 10px 20px !important;
    }
    .bgtfw-menu.sm-rtl ul a span.sub-arrow {
        right: auto;
        left: 8px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #555555 transparent transparent;
    }
    .bgtfw-menu.sm-vertical {
        padding: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }
    .bgtfw-menu.sm-vertical a {
        padding: 10px 20px;
    }
    .bgtfw-menu.sm-vertical a:hover,
    .bgtfw-menu.sm-vertical a:focus,
    .bgtfw-menu.sm-vertical a:active,
    .bgtfw-menu.sm-vertical a.highlighted {
        background: white;
    }
    .bgtfw-menu.sm-vertical a.disabled {
        background: #eeeeee;
    }
    .bgtfw-menu.sm-vertical a span.sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -5px;
        border-width: 5px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #555555;
    }
    .bgtfw-menu.sm-vertical > li > ul:before,
    .bgtfw-menu.sm-vertical > li > ul:after {
        display: none;
    }
    .bgtfw-menu.sm-vertical ul a {
        padding: 10px 20px;
    }
    .bgtfw-menu.sm-vertical ul a:hover,
    .bgtfw-menu.sm-vertical ul a:focus,
    .bgtfw-menu.sm-vertical ul a:active,
    .bgtfw-menu.sm-vertical ul a.highlighted {
        background: #eeeeee;
    }
    .bgtfw-menu.sm-vertical ul a.disabled {
        background: white;
    }
}
@media (min-width: 768px) {
    /* prevent text rendering degrade during animation in Mac browsers */

    #main-menu.logo.logo-left .site-title {
        display: flex;
        order: -1;
    }
    #main-menu.logo.logo-center .site-title {
        display: flex;
        order: 0;
    }
    #main-menu.logo.logo-right .site-title {
        display: flex;
        order: 1;
    }
    #main-menu.center {
        display: flex;
        justify-content: center;
    }
    #main-menu.space-evenly {
        display: flex;
        justify-content: space-evenly;
    }
    #main-menu.left {
        display: flex;
        justify-content: flex-start;
    }
    #main-menu.right {
        display: flex;
        justify-content: flex-end;
    }
    #main-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    /* show animation */

    #main-menu ul.show-animation {
        -webkit-animation: show-animation 0.2s;
        animation: show-animation 0.2s;
    }
    @-webkit-keyframes show-animation {
        0% {
            -webkit-transform: scale3d(0, 0, 1);
            opacity: 0;
        }
        60% {
            -webkit-transform: scale3d(1.05, 1.05, 1);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }
    @keyframes show-animation {
        0% {
            transform: scale3d(0, 0, 1);
            opacity: 0;
        }
        60% {
            transform: scale3d(1.05, 1.05, 1);
        }
        100% {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }
    /* hide animation */

    #main-menu ul.hide-animation {
        -webkit-animation: hide-animation 0.2s;
        animation: hide-animation 0.2s;
    }
    @-webkit-keyframes hide-animation {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale3d(0, 0, 1);
            opacity: 0;
        }
    }
    @keyframes hide-animation {
        0% {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            transform: scale3d(0, 0, 1);
            opacity: 0;
        }
    }
}
/* Menu Mobile */

.main-menu-btn {
    position: relative;
    display: inline-block;
    margin: 3.5px 14px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #bbb;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}
.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}
/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
    display: none;
}
#main-menu-state:checked ~ #main-menu {
    display: block;
}
/* Menu button right side. */

.main-menu-btn.right {
    left: calc( 100% - 30px - 1em);
}
.main-menu-btn.left {
    left: 2px;
}
@media only screen and (min-width: 768px) {
    /* hide the button in desktop view */

    .main-menu-btn {
        position: absolute;
        top: -99999px;
    }
    /* always show the menu in desktop view */

    #main-menu-state:checked ~ #main-menu,
    #main-menu-state:not(:checked) ~ #main-menu {
        display: flex;
    }
}
