#secondary-menu {
	display: none;
	@media only screen and (min-width: 768px) {
		display: flex;
		flex-basis: 100%;
		justify-content: flex-end;
		z-index: 1;
		&-items {
			display: flex;
			flex-wrap: wrap;
			li:after {
				margin-left: .5em;
			}
		}
		&.container {
			flex-basis: auto;
		}
	}
}
