.entry-header,
.entry-content {
	width: 100%;
}
.entry-title {
	word-break: break-word;
}

.post.sticky {
	width: calc( 100% - 1em );
}

.read-more {
	padding-top: 15px;
}

&[class*="col"] {
	&.page-title-above {
		.article-wrapper {
			display: inline-flex;
			flex-wrap: wrap;
		}
	}
	main article {
		margin-left: .5em;
		margin-right: .5em;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		.entry-content {
			display: block;
			flex-grow: 1;
		}
	}
	&:not(.col1) main .entry-content .row {
		[class*="col-xs"],
		[class*="col-sm"],
		[class*="col-md"],
		[class*="col-lg"] {
			width: 100%;
		}
	}
}
&.col1 main article {
	margin-left: auto;
	margin-right: auto;
	width: calc( ( 100% / 1 ) - 1em );
}
&.col2 main article {
	width: calc( ( 100% / 2 ) - 1em );
}
&.col3 main article {
	width: calc( ( 100% / 3 ) - 1em );
}
&.col4 main article {
	width: calc( ( 100% / 4 ) - 1em );
}
&.col5 main article {
	width: calc( ( 100% / 5 ) - 1em );
}
&.col6 main article {
	width: calc( ( 100% / 6 ) - 1em );
}

/* General Design */
.main-wrapper.container {
	padding-left: 0px;
	padding-right: 0px;
}

main {
	&.container {
		padding-left: 15px;
		padding-right: 15px;
		flex: 0 1 auto;
	}

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	article.post {
		display: flex;
		flex-direction: column;
		.entry-header {
			display: flex;
			flex-direction: column;
			padding-bottom: 1.5em;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			padding-bottom: 0;
			.entry-title {
				margin-top: .5em;
				margin-bottom: .25em;
				.link {
					&, &:hover, &:focus {
						text-decoration: none;
					}
				}
			}
			.entry-meta {
				margin-top: .25em;
				margin-bottom: .75em;
				width: 100%;
			}
		}
		.featured-imgage-header {
			margin: 0 auto;
			width: 100%
		}
		.entry-title,
		.entry-meta {
			padding-right: 15px;
			padding-left: 15px;
		}
		.entry-content {
			padding: 15px 15px 0 15px;
			width: 100%;
			word-break: break-word;
			h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
				color: currentColor;
			}
			.boldgrid-section {
				margin-left: -15px;
				margin-right: -15px;
				padding-top: 1.4rem;
				padding-bottom: 1.4rem;
				width: calc( 100% + 30px );
				> .container {
					width: auto;
				}
			}
		}
		.entry-footer {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
			span {
				flex-wrap: wrap;
				&.bgtfw-edit-link {
					max-width: 62px;
					align-self: flex-end;
					left: 0;
				}
			}
		}
		.entry-footer .bgtfw-edit-link a {
			top: -32px;
			left: -32px;
		}
		.entry-footer .bgtfw-edit-link a {
			position: relative;
			top: 0;
			left: 0;
		}
		.comments-link {
			flex: 1 1 auto;
		}
		@import "1";
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	&[class*="col"]:not(.col1) main article.post:not(.sticky) {
		width: calc((100% / 2 - .5vw) - 2vw);
	}

	.bgtfw-header .hamburger {
		padding-left: 0px;
	}
}
@media only screen and (max-width : 480px) {
	&[class*="col"] main article.post {
		width: calc((100% / 1 - .5vw) - 2vw);
	}
}

/* Set print preview visibility on archives. */
@media print {
	article.wow {
		visibility: visible !important;
	}
	.empty-sidebar-message {
		display: none;
	}
}
