/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/** Text Effects **/
/** Images **/
/** Shapes **/
/*--------------------------------------------------------------
# Image Borders
--------------------------------------------------------------*/
.bg-img.bg-img-1 {
  border: 3px solid #fff;
  padding: 0;
  box-shadow: 0px 0px 1px 0px #555555, 0px 5px 5px 0px #555555; }

.bg-img.bg-img-2 {
  border: .5em solid white;
  border-bottom-width: 2em;
  box-shadow: 0px 0px 1px 0px #555555, 0px 4px 4px 0px #555555; }

/*--------------------------------------------------------------
# Text Shadows
--------------------------------------------------------------*/
.bg-text-fx.bg-text-fx-inset-text {
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67); }

.bg-text-fx.bg-text-fx-anaglyph {
  letter-spacing: 3px;
  text-shadow: -3px 0 1px #1ef2f1, 3px 0 1px #f6050a; }

.bg-text-fx.bg-text-fx-neon {
  color: white;
  text-decoration: normal;
  text-align: center;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }

.bg-text-fx.bg-text-fx-neon:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff; }

.bg-text-fx.bg-text-fx-simple-shadow {
  text-shadow: #969696 1px 3px 0, #aba8a8 1px 8px 5px; }

.bg-text-fx.bg-text-fx-neon-text {
  box-sizing: content-box;
  border: none;
  color: #407ec4;
  text-align: center;
  text-overflow: clip;
  text-shadow: 1px 1px 0 #4da2fc, -1px -1px 0 #4da2fc, 1px -1px 0 #4da2fc, -1px 1px 0 #4da2fc, 4px 4px 8px #2c5889, -4px 4px 8px #2c5889, 4px -4px 8px #2c5889, -4px -4px 8px #2c5889;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); }

.bg-text-fx.bg-text-fx-neon-text:hover {
  text-shadow: 1px 1px 0 #4da2fc, -1px -1px 0 #4da2fc, 1px -1px 0 #4da2fc, -1px 1px 0 #4da2fc;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1); }

.bg-text-fx.bg-text-fx-enjoy-css {
  text-shadow: 0 1px 0 #808d93, -1px 0 0 #cdd2d5, -1px 2px 0 #808d93, -2px 1px 0 #cdd2d5, -2px 3px 0 #808d93, -3px 2px 0 #cdd2d5, -3px 4px 0 #808d93, -4px 3px 0 #cdd2d5, -4px 5px 0 #808d93; }

.bg-text-fx.bg-text-fx-long-shadow {
  text-shadow: 3px 3px 0 #0199d9, 4px 4px 0 #0199d9, 5px 5px 0 #0199d9, 6px 6px 0 #0199d9, 7px 7px 0 #0199d9, 8px 8px 0 #0199d9, 9px 9px 0 #0199d9, 10px 10px 0 #0199d9, 11px 11px 0 #0199d9, 12px 12px 0 #0199d9, 13px 13px 0 #0199d9, 14px 14px 0 #0199d9, 15px 15px 0 #0199d9, 16px 16px 0 #0199d9, 17px 17px 0 #0199d9, 18px 18px 0 #0199d9, 19px 19px 0 #0199d9, 20px 20px 0 #0199d9; }

.bg-text-fx.bg-text-fx-rainbow {
  color: transparent;
  text-shadow: 3px 0 0 #d91f26, 6px 0 0 #e25b0e, 9px 0 0 #f5dd08, 12px 0 0 #059444, 15px 0 0 #0287ce, 18px 0 0 #044d91, 21px 0 0 #2a1571;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.bg-text-fx.bg-text-fx-rainbow:hover {
  text-shadow: -3px 0 0 #d91f26, -6px 0 0 #e25b0e, -9px 0 0 #f5dd08, -12px 0 0 #059444, -15px 0 0 #0287ce, -18px 0 0 #044d91, -21px 0 0 #2a1571;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.bg-text-fx.bg-text-fx-board-game {
  text-shadow: 5px 5px 0 #ffd217, 10px 10px 0 #5ac7ff, 15px 14px 0 #ffd217, 20px 20px 0 #5ac7ff; }

.bg-text-fx.bg-text-fx-retro {
  text-shadow: 2px 2px 0 #eeeeee, 3px 3px 0 #707070; }

.bg-text-fx.bg-text-fx-elegantshadow {
  color: #131313;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392; }

.bg-text-fx.bg-text-fx-deepshadow {
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); }

.bg-text-fx.bg-text-fx-gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-text-fx.bg-text-fx-shadows {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bg-text-fx.bg-text-fx-closeheavy {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.bg-text-fx.bg-text-fx-glow {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.72); }

.bg-text-fx.bg-text-fx-stroke {
  text-shadow: -1px -1px 0 #bdbdbd, 1px -1px 0 #bdbdbd, -1px 1px 0 #bdbdbd, 1px 1px 0 #bdbdbd; }

/*--------------------------------------------------------------
# Module Backgrounds
--------------------------------------------------------------*/
.bg-box {
  padding: 1em; }

.bg-box.bg-box-circle, .bg-box.bg-box-pill {
  padding: 4em; }

.bg-box-square {
  border-radius: 0; }

.bg-box-pill {
  border-radius: 1000px; }

.bg-box-circle {
  border-radius: 50%; }

.bg-box-rounded {
  border-radius: 2em; }

.bg-box-edged {
  border-radius: 5px; }

.bg-box-pad-sm {
  padding: 3px; }

.bg-box-pad-lg {
  padding: 7px; }

.bg-box-rounded-top-left {
  border-top-left-radius: 2em; }

.bg-box-rounded-top-right {
  border-top-right-radius: 2em; }

.bg-box-rounded-bottom-right {
  border-bottom-right-radius: 2em; }

.bg-box-rounded-bottom-left {
  border-bottom-left-radius: 2em; }

.bg-box-shadow-bottom-right {
  box-shadow: 3px 3px 0px 0 grey; }

.bg-box-shadow-bottom-left {
  box-shadow: -3px 3px 0px 0 grey; }

.bg-box-border-thin {
  border: 1px solid black; }

.bg-box-border-normal {
  border: 2px solid black; }

.bg-box-border-thick {
  border: 3px solid black; }

.bg-box-border-dashed {
  border: 2px dashed black; }

.bg-box-border-dashed-thick {
  border: 3px dashed black; }

.bg-box-border-double {
  border: 2px solid black;
  box-shadow: 0px 0px 0px 2px white inset, 0px 0px 0px 3px black inset; }

.bg-box-border-double-thick {
  border: 2px solid black;
  box-shadow: 0px 0px 0px 5px white inset, 0px 0px 0px 7px black inset; }

.bg-box-pointer {
  position: relative; }

.bg-box-pointer:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
  display: block;
  width: 0; }

.bg-box-pointer.bg-box-pointer-left:after {
  top: calc(50% - 16px);
  left: -20px;
  bottom: auto;
  border-width: 12px 20px 13px 0px;
  border-color: transparent #f3961c; }

.bg-box-pointer.bg-box-pointer-right:after {
  top: calc(50% - 16px);
  right: -20px;
  bottom: auto;
  left: auto;
  border-width: 12px 0 13px 20px;
  border-color: transparent #f3961c; }

.bg-box-pointer.bg-box-pointer-bottom:after {
  left: calc(50% - 16px); }

.bg-box-pointer.bg-box-pointer-top:after {
  top: -15px;
  bottom: auto;
  border-width: 0 15px 15px;
  left: calc(50% - 16px); }

.bg-img-square {
  border-radius: 0; }

.bg-img-pill {
  border-radius: 1000px; }

.bg-img-circle {
  border-radius: 50%; }

.bg-img-rounded {
  border-radius: 2em; }

.bg-img-edged {
  border-radius: 5px; }

.bg-img-pad-sm {
  padding: 3px; }

.bg-img-pad-lg {
  padding: 7px; }

.bg-img-rounded-top-left {
  border-top-left-radius: 2em; }

.bg-img-rounded-top-right {
  border-top-right-radius: 2em; }

.bg-img-rounded-bottom-right {
  border-bottom-right-radius: 2em; }

.bg-img-rounded-bottom-left {
  border-bottom-left-radius: 2em; }

.bg-img-shadow-bottom-right {
  box-shadow: 3px 3px 0px 0 grey; }

.bg-img-shadow-bottom-left {
  box-shadow: -3px 3px 0px 0 grey; }

.bg-img-border-thin {
  border: 1px solid black; }

.bg-img-border-normal {
  border: 2px solid black; }

.bg-img-border-thick {
  border: 3px solid black; }

.bg-img-border-dashed {
  border: 2px dashed black; }

.bg-img-border-dashed-thick {
  border: 3px dashed black; }

.bg-img-border-double {
  border: 2px solid black;
  box-shadow: 0px 0px 0px 2px white inset, 0px 0px 0px 3px black inset; }

.bg-img-border-double-thick {
  border: 2px solid black;
  box-shadow: 0px 0px 0px 5px white inset, 0px 0px 0px 7px black inset; }

.bg-img-pointer {
  position: relative; }

.bg-img-pointer:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
  display: block;
  width: 0; }

.bg-img-pointer.bg-img-pointer-left:after {
  top: calc(50% - 16px);
  left: -20px;
  bottom: auto;
  border-width: 12px 20px 13px 0px;
  border-color: transparent #f3961c; }

.bg-img-pointer.bg-img-pointer-right:after {
  top: calc(50% - 16px);
  right: -20px;
  bottom: auto;
  left: auto;
  border-width: 12px 0 13px 20px;
  border-color: transparent #f3961c; }

.bg-img-pointer.bg-img-pointer-bottom:after {
  left: calc(50% - 16px); }

.bg-img-pointer.bg-img-pointer-top:after {
  top: -15px;
  bottom: auto;
  border-width: 0 15px 15px;
  left: calc(50% - 16px); }

/*--------------------------------------------------------------
# Generic Helper Classes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
.container {
  max-width: 100%; }

/*--------------------------------------------------------------
# Column Alignment
--------------------------------------------------------------*/
.align-column-top {
  align-self: flex-start; }

.align-column-center {
  align-self: center; }

.align-column-bottom {
  align-self: flex-end; }

/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
.background-fixed {
  background-attachment: fixed !important; }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.boldgrid-section {
  min-height: 30px; }

.site-header .boldgrid-section,
.site-footer .boldgrid-section {
  min-height: 0; }

/*--------------------------------------------------------------
# Maps
--------------------------------------------------------------*/
iframe.boldgrid-google-maps,
.boldgrid-google-maps iframe {
  max-width: 100%; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn,
.button-primary,
.button-secondary {
  white-space: nowrap; }
