.align-column-top {
	align-self: flex-start;
}

.align-column-center {
	align-self: center;
}

.align-column-bottom {
	align-self: flex-end;
}

.align-column-stretch {
	display    : flex;
	align-items: stretch;
}
