.#{$img-ns} {
    &.#{$img-ns}-1 {
        border: 3px solid #fff; 
        padding: 0;
        box-shadow: 0px 0px 1px 0px rgba(85,85,85,1), 0px 5px 5px 0px rgba(85,85,85,1); 
    } 
    &.#{$img-ns}-2 {
        border: .5em solid white;
        border-bottom-width: 2em;
        box-shadow: 0px 0px 1px 0px #555555, 0px 4px 4px 0px #555555;
    }
}