.boldgrid-control {
	input[type="radio"] {
		width: 16px;
	}

	input[type="checkbox"] {
		height: 100%;
	}

	&.slider-control {
		.number,
		.slider {
			background-color: white;
		}

		.slider .ui-slider-handle {
			transform: translateY(-50%) translateX(-50%);
		}
	}

	.pluto-color-control + .iris-picker {
		min-width: 280px;
	}

	&.bg-control-switch .mdc-switch {
		top: 5px;
	}

	&.directional-control {
		margin: 20px 0;
	}
}
