[id*="customize-control-bgtfw_layout_"].customize-control-kirki-radio {
	> label {
		display: flex;
		align-items: center;
		opacity: .8;
		-webkit-transition: opacity 200ms ease-out;
		-moz-transition: opacity 200ms ease-out;
		-o-transition: opacity 200ms ease-out;
		transition: opacity 200ms ease-out;
		&:hover {
			opacity: 1;
			-webkit-transition: opacity 300ms ease-in;
			-moz-transition: opacity 300ms ease-in;
			-o-transition: opacity 300ms ease-in;
			transition: opacity 300ms ease-in;
		}
		input[type="radio"] {
			width: 32px;
			height: 32px;
			font-size: inherit;
			border: none;
			border-radius: 3px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%239b9b9b' d='M2.12 29.96h27.84V2.12H2.12v27.84zM.04 1.26C.04.6.58.04 1.26.04H30.8c.7 0 1.24.54 1.24 1.22V30.8c0 .7-.55 1.24-1.23 1.24H1.28C.6 32.04.04 31.5.04 30.8V1.27z'/%3E%3Cpath fill='%239b9b9b' d='M22 1.6h8.4v28.8H22V1.6z'/%3E%3C/svg%3E");
			background-color: transparent;
			display: flex;
			margin: 0;
			outline: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			line-height: 1.1;
			margin: 2px 12px 0 0;
			&:hover, &:focus, &:checked {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%23444' d='M2.12 29.96h27.84V2.12H2.12v27.84zM.04 1.26C.04.6.58.04 1.26.04H30.8c.7 0 1.24.54 1.24 1.22V30.8c0 .7-.55 1.24-1.23 1.24H1.28C.6 32.04.04 31.5.04 30.8V1.27z'/%3E%3Cpath fill='%23444' d='M22 1.6h8.4v28.8H22V1.6z'/%3E%3C/svg%3E");
			}
			&:before {
				background-color: transparent;
				border-radius: 0;
				width: 0;
				height: 0;
				content: "";
				opacity: 1;
			}
			&:checked:after {
				content: "\f147";
				display: flex;
				font-family: dashicons;
				color: green;
				text-shadow: -1px -1px 0 #efefef, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;
				align-items: center;
				justify-content: center;
				font-size: 42px;
				width: 32px;
				height: 32px;
				margin-left: -7px;
				margin-top: 2px;
			}
			&[value=left-sidebar] {
				transform: rotate(180deg);
				transform-origin: 50% 50%;
				&:checked:after {
					transform: rotate(180deg);
					transform-origin: 50% 50%;
					margin-left: -6px;
					margin-top: -2px;
				}
			}
			&[value=no-sidebar] {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%239b9b9b' d='M2.12 29.96h27.84V2.12H2.12v27.84zM.04 1.26C.04.6.58.04 1.26.04H30.8c.7 0 1.24.54 1.24 1.22V30.8c0 .7-.55 1.24-1.23 1.24H1.28C.6 32.04.04 31.5.04 30.8V1.27z'/%3E%3C/svg%3E");
				&:hover, &:focus, &:checked {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%23444' d='M2.12 29.96h27.84V2.12H2.12v27.84zM.04 1.26C.04.6.58.04 1.26.04H30.8c.7 0 1.24.54 1.24 1.22V30.8c0 .7-.55 1.24-1.23 1.24H1.28C.6 32.04.04 31.5.04 30.8V1.27z'/%3E%3C/svg%3E");
				}
			}
		}
	}
}

#customize-control-bgtfw_layout_page.customize-control-radio .customize-inside-control-row {
	margin-left: 0;
}
