.bgtfw-sortable-accordion {

	.sortable-wrapper {
		background-color: rgba( 255, 255, 255, .7 );
		border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );

		&:hover {
			cursor: move;
			background-color: rgba( 255, 255, 255, 1 );
			border-color: #999;
		}
		.ui-state-active {
			&.sortable-title {
				padding: 6px 10px;
				&:before {
					content: "\f0de";
					margin-top: 9px;
				}
			}
		}
		.sortable-title {
			display: flex;
			align-items: center;
			font-size: 14px;
			padding: 10px;
			&:before {
				margin-top: -4.5px;
				margin-right: 10px;
				display: inline-block;
				font-family: FontAwesome;
				font-size: 18px;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\f0dd";
			}
			.title-divider {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	.connected-sortable {
		background-color: #eee;
		padding: 10px;
	}

	.bgtfw-container-control,
	.sortable-actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		i,
		.bgtfw-icon {
			margin-right: 5px;
		}

		.bgtfw-sortable-control,
		.bgtfw-sortable {
			cursor: pointer;
			flex: 1 0 auto;
			text-align: center;
			padding: 0.5em 1em;
			background-color: rgba(0, 0, 0, 0.1);

			&:hover {
				background-color: #fafafa;
			}

			&.selected {
				background-color: #00a0d2;
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}

	.repeater {
		background: rgba(255, 255, 255, 0.7);
		border: 1px solid #ddd;
		text-align: left;
		margin-bottom: 10px;
		font-weight: 700;
		color: #555d66;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:hover {
			background: rgba(255, 255, 255, 1);
			border-color: #999;
		}
		.repeater-title {
			padding-left: 15px;
			.dashicons {
				padding-right: 15px;
			}
		}

		.repeater-handle {
			padding-bottom: .75em;
			padding-top: .75em;
			.dashicons-trash {
				cursor: pointer;
				position: relative;
				float: right;
				padding: 10px 10px 8px 10px;
				margin-top: -10px;
				color: #a00;
				&:hover {
					color: #dc3232;
				}
			}
		}
		.repeater-accordion-content {
			display: flex;
			width: 100%;
			background-color: #f1f1f1;
			padding-top: .75em;
			padding-bottom: .75em;
			&:empty {
				display: none;
			}
		}
		.repeater-menu-select {
			margin-left: auto;
			margin-right: auto;
			width: 80%;
		}
		.repeater-input {
			width: 100%;
			display: inline-block;
		}
	}
}
