.attribution-theme-mods {
	.link {
		padding: .5em;
		&:after {
			content: "";
			margin-left: 1em;
			border-left: 1px solid currentColor;
		}
		&:nth-last-child(2) {
			padding-right: 0;
			&:after {
				margin: 0;
				border: 0;
			}
		}
	}
}
