/* Disabled Footer */
@import "disabled-footer";
/* Sticky Footer */
@import "sticky-footer";
/* Contact Blocks */
@import "contact-blocks";
/* Attribution Links */
@import "attribution-links";

.bgtfw-footer {
	.container {
		.row {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.attribution-theme-mods-wrapper {
		margin-left: -15px;
	}
}

@media only screen and (min-width : 768px) {
	footer {
		&#colophon {
			.boldgrid-section {
				.full-width {
					.row {
						aside.sidebar {
							padding-left: 0px;
							padding-right: 0px;
							margin-left: 15px;
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width : 767px) {
	footer {
		&#colophon {
			.boldgrid-section {
				.full-width {
					.row {
						aside.sidebar {
							padding-left: 15px;
							padding-right: 15px;
							margin-left: 0px;
							margin-right: 0px;
						}
					}
				}
				.container {
					.row {
						aside.sidebar {
							margin-left: -15px;
							margin-right: -15px;
						}
					}
				}
			}
		}
	}
	.attribution-theme-mode {
		display: none;
	}

	.attribution-theme-mods .link {
		padding: 13px 10px;
		flex-grow: 1;
		flex-basis: 100%;
		text-align: center;
	}

	.attribution-theme-mods .link:after {
		border: 0;
		margin: 0;
	}
}
