// Styles for TinyMCE Editor
#tinymce.mce-content-body {
	height: auto;

	&.post-type-post {
		max-width: (1170 * .75) + px !important;
	}
}

// Gutenberg Additions.
// Align Full
.alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	width: calc( 100vw - 7.5px );
}

// Align Wide.
.alignwide {
	width: calc( 100% + 30px);
	margin-right: -15px;
	margin-left: -15px;
}
.main-wrapper.container {
	@media (min-width: 768px) {
		.alignwide {
			width: 750px;
		}
	}
	@media (min-width: 992px) {
		.alignwide {
			width: 970px;
		}
	}
	@media (min-width: 1200px) {
		.alignwide {
			width: 1170px;
		}
	}
}
