/** Headings **/
.palette-primary {
	@include headings() {
		line-height: 1.1;
	}
}

/* Removes Blue Box in Chrome */
*:focus {
	outline: 0;
}

img {
	height: auto;
	max-width: 100%;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

blockquote {
	border-left: 5px solid currentColor;
	font-size: 1.125em;
	p {
		font-size: 1.125em;
	}
}

/* Post/Page password protected styles */
.post-password-form .button-primary {
	margin-left: 9px;
}

/* Adds bgtfw default fieldset lengend styles */
.palette-primary legend {
	color: currentColor;
	border-bottom: none;
}

/* Edit Links */
.palette-primary.page {
	footer.entry-footer {
		background: transparent;
		position: absolute;
		padding: .5em;
		left: 1%;
		right: 1%;
		z-index: 999;
	}
	.entry-footer .fa-pencil {
		opacity: 0.6;
	}
	.entry-footer .fa-pencil:hover {
		opacity: 1;
	}
	.post-edit-link {
		padding: 5px 30px;
		margin-left: -20px;
	}
	.site-content {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	&.disabled-footer footer.entry-footer {
		bottom: 2em;
	}
	&.disabled-footer {
		margin-bottom: 0;
	}
	&.disabled-footer .attribution-theme-mods {
		margin-bottom: 50px;
	}
	&.disabled-footer .attribution-theme-mods:not(:empty) {
		margin-bottom: 50px;
	}
}