$float-labels: (
	prefix                  : 'bgtfw-',
	parent                  : '#boldgrid-sticky-wrap ',
	margin-bottom           : 10px,
	border-radius           : 4px,
	color-text              : var(--color-neutral-text-contrast),
	color-placeholder       : var(--color-neutral-text-contrast),
	color-background        : var(--color-neutral),
	color-background-active : var(--color-neutral),
	color-background-focus  : var(--color-neutral),
	color-border-focus      : var(--color-1),
	color-text-focus        : var(--color-1),
);

@import "../float-labels.js/float-labels";
@import "forms/base";
@import "forms/search";
@import "forms/ninja-forms";
@import "forms/wp-forms";
