@import "header/slide-in";

#masthead, #masthead-sticky, #colophon {
	&[class^=sticky-template-] {
		background-color:none;
	}
	aside.sidebar {
		margin-left: -15px;
		margin-right: -15px;
	}
	.container, .container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}
	.boldgrid-section {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.container-fluid {
			width: 100%;
		}
		.row {
			display: flex;
			flex-wrap: wrap;
		}
		.full-width {
			padding-left: 0px;
			padding-right: 0px;
			width: 100%;
			.row {
				display: flex;
				flex-wrap: wrap;
				aside.sidebar {
					padding-left: 0px;
					padding-right: 0px;
					height: 100%;
				}
				div {
					padding-left: 0px;
					padding-right: 0px;
				}
				.site-title,
				.site-description,
				.custom-logo-link,
				.hamburger,
				.sm-clean {
					margin-left: 20px;
					margin-right: 20px;
				}
				@media only screen and (max-width : 991px) {
					.sm-clean {
						margin-left: 0px;
						margin-right: 0px;
					}
				}
				@media only screen and (max-width : 767px) {
					.site-title,
					.site-description,
					.custom-logo-link,
					.hamburger {
						margin-left: 15px;
						margin-right: 15px;
					}
				}
				.attribution-theme-mods {
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}
		&:not( .default-preset ),
		&:not( .custom-preset ) {
			.site-branding {
				&.hide-logo {
					.custom-logo-link {
						display: none !important;
					}
				}
				&.hide-title {
					.site-title {
						display: none !important;
					}
				}
				&.hide-description {
					.site-description {
						display: none !important;
					}
				}
				&.hide-tagline {
					.site-description {
						display: none !important;
					}
				}
			}
		}
	}
}

@media only screen and (max-width : 767px) {
	.col-xs-full-width {
		width: 100%;
	}
}

@media only screen and (min-width: 768px ) and (max-width: 991px) {
	.col-sm-full-width {
		width: 100%;
	}
}
@media only screen and (min-width: 991px ) and (max-width: 1199px) {
	.col-md-full-width {
		width: 100%;
	}
}
@media only screen and (min-width: 1200px ) {
	.col-lg-full-width {
		width: 100%;
	}
}
