@import "header/slide-in";

#masthead, #masthead-sticky, #colophon {
	aside.sidebar {
		margin-left: -15px;
		margin-right: -15px;
	}
	.container, .container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}
	.boldgrid-section {
		.row {
			display: flex;
			flex-wrap: wrap;
		}
		.full-width {
			padding-left: 0px;
			padding-right: 0px;
			.row {
				display: flex;
				flex-wrap: wrap;
				aside.sidebar {
					padding-left: 0px;
					padding-right: 0px;
					height: 100%;
				}
				div {
					padding-left: 0px;
					padding-right: 0px;
				}
				.site-title,
				.site-description,
				.custom-logo-link,
				.hamburger,
				.sm-clean {
					margin-left: 20px;
					margin-right: 20px;
				}
				@media only screen and (max-width : 767px) {
					.site-title,
					.site-description,
					.custom-logo-link,
					.hamburger {
						margin-left: 15px;
						margin-right: 15px;
					}
				}
				.attribution-theme-mods {
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}
	}
}
