.bgtfw-header, .bgtfw-sticky-header, .bgtfw-footer {
	&.template-header {
		> .boldgrid-section {
			flex-direction: column;
			.container {
				.row {
					> div:first-child {
						&:not(:last-child) {
							padding-right: 0;
							margin-left: 15px;
							margin-right: -15px;
						}
					}
					> div:last-child {
						&:not(:first-child) {
							padding-left: 0;
							margin-left: -15px;
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
	.boldgrid-section {
		.container {
			.row {
				>.w {
					padding-right: 0px;
					margin-left: 15px;
					margin-right: -15px;
				}
				>.nw {
					padding-right: 0px;
					margin-left: 15px;
					margin-right: -15px;
				}
				>.sw {
					padding-right: 0px;
					margin-left: 15px;
					margin-right: -15px;
				}
				>.e {
					padding-left: 0px;
					margin-right: 15px;
					margin-left: -15px;
				}
				>.ne {
					padding-left: 0px;
					margin-right: 15px;
					margin-left: -15px;
				}
				>.se {
					padding-left: 0px;
					margin-right: 15px;
					margin-left: -15px;
				}
			}
		}
		.full-width {
			.row {
				>.w, >.nw, >.sw {
					margin-right: -1px;
				}
				>.e, >.ne, >.se {
					margin-left: -1px;
				}
			}
		}
	}
}
.page-title-above.has-sidebar {
	&:not( .woocommerce ) {
		&.right-sidebar {
			.main-wrapper.container {
				.article-wrapper {
					max-width: 100%;
					+ aside {
						margin-right: 0px;
					}
				}
			}
		}
		&.left-sidebar {
			.main-wrapper.container {
				.article-wrapper {
					max-width: 100%;
					+ aside {
						margin-left: 0px;
					}
				}
			}
		}
	}
}
#masthead, #masthead-sticky {
	> .boldgrid-section > .container {
		padding-left: 15px;
		padding-right: 15px;
		.site-description {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.boldgrid-section {
		.full-width {
			.row {
				aside.sidebar {
					margin-left: 0px;
					margin-right: 0px;
					padding-left: 20px;
					padding-right: 20px;
				}
				.sm-clean {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}
		.container {
			.row {
				.sm-clean {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}
		.container-fluid {
			.sm {
				&.e, &.ne, &.se {
					.li.menu-item:not( .custom-sub-menu ) {
						> .btn {
							margin-right: -13px;
							padding-right: 13px;
						}
					}
				}
				&.w, &.nw, &.sw {
					.li.menu-item:not( .custom-sub-menu ) {
						> .btn {
							margin-left: -13px;
							padding-left: 13px;
						}
					}
				}
			}
		}
	}
}
.standard-menu-enabled {
	&:not(.header-left) {
		&:not(.header-right) {
			.site-header {
				.bgtfw-menu-wrap.w {
					.sm-clean.w {
						li.menu-item:not( .custom-sub-menu ) {
							&:first-of-type {
								> a {
									margin-left: 0px;
									padding-left: 20px;
								}
							}
						}
					}
				}
				.bgtfw-menu-wrap.nw {
					.sm-clean.nw {
						li.menu-item:not( .custom-sub-menu ) {
							&:first-of-type {
								> a {
									margin-left: 0px;
									padding-left: 20px;
								}
							}
						}
					}
				}
				.bgtfw-menu-wrap.sw {
					.sm-clean.sw {
						li.menu-item:not( .custom-sub-menu ) {
							&:first-of-type {
								> a {
									margin-left: 0px;
									padding-left: 20px;
								}
							}
						}
					}
				}
				.bgtfw-menu-wrap.e {
					.sm-clean.e {
						li.menu-item:not( .custom-sub-menu ) {
							&:last-of-type {
								> a {
									margin-right: 0px;
									padding-right: 20px;
								}
							}
						}
					}
				}
				.bgtfw-menu-wrap.ne {
					.sm-clean.ne {
						li.menu-item:not( .custom-sub-menu ) {
							&:last-of-type {
								> a {
									margin-right: 0px;
									padding-right: 20px;
								}
							}
						}
					}
				}
				.bgtfw-menu-wrap.se {
					.sm-clean.se {
						li.menu-item:not( .custom-sub-menu ) {
							&:last-of-type {
								> a {
									margin-right: 0px;
									padding-right: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.site-content {
	flex-direction: column;
}
#main-wrapper.container {
	.main {
		padding: 0 20px;
		.entry-content {
			.row {
				margin-left: 0px;
				margin-right: 0px;
				.slick-slide {
					.row:not( .bg-editor-hr-wrap ) {
						margin-left: 0px;
						margin-right: 0px;
					}
				}
				.row:not( .bg-editor-hr-wrap ) {
					margin-left: -15px;
					margin-right: -15px;
				}
				&.bg-editor-hr-wrap {
					> div {
						padding-left:0px;
					}
				}
			}
		}
	}
}
#main-wrapper.full-width {
	.main {
		padding: 0 20px;
		.entry-content {
			.row {
				margin-left: 0px;
				margin-right: 0px;
				.slick-slide {
					.row:not( .bg-editor-hr-wrap ) {
						margin-left: 0px;
						margin-right: 0px;
					}
				}
				.row:not( .bg-editor-hr-wrap ) {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
			.container {
				> .row {
					&:not( .bg-editor-hr-wrap ) {
						margin-left: 20px;
						margin-right: 20px;
					}
					.slick-slide {
						.row:not( .bg-editor-hr-wrap ) {
							margin-left: 0px;
							margin-right: 0px;
						}
					}
					.row:not( .bg-editor-hr-wrap ) {
						margin-left: -15px;
						margin-right: -15px;
					}
				}
				.row {
					&.bg-editor-hr-wrap {
						> div {
							padding-left:0px;
							padding-right: 0px;
						}
					}
					.slick-slide {
						.row:not( .bg-editor-hr-wrap ) {
							margin-left: 0px;
							margin-right: 0px;
						}
					}
					.row:not( .bg-editor-hr-wrap ) {
						margin-left: -15px;
						margin-right: -15px;
					}
				}
			}
			.container-fluid {
				.row {
					margin-left: -5px;
					margin-right: -5px;
					&.bg-editor-hr-wrap {
						> div {
							padding-left:0px;
						}
					}
					.slick-slide {
						.row:not( .bg-editor-hr-wrap ) {
							margin-left: 0px;
							margin-right: 0px;
						}
					}
					.row:not( .bg-editor-hr-wrap ) {
						margin-left: -15px;
						margin-right: -15px;
					}
				}
				padding-left: 0px;
				padding-right: 0px;
				margin-left: -15px;
				margin-right: -15px;
			}
		}
		aside.sidebar {
			margin-right:0px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	body[data-container="max-full-width"] {
		.page-header-wrapper.full-width {
			.page-header {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc( 100% + 30px );
				> .featured-imgage-header:not( .container ) {
					width: calc( 100% + 30px );
				}
			}
		}
		#main-wrapper.full-width .main .entry-content .container-fluid .row {
			div[class^="col-"]:first-of-type {
				>, div > {
					p:not( .mod-reset ), h1, h2, h3, h4, h5, h6 {
						padding-left: 10px;
					}
				}
			}
			div[class^="col-"]:last-of-type {
				>, div > {
					p:not( .mod-reset ), h1, h2, h3, h4, h5, h6 {
						padding-right: 10px;
					}
				}
			}
		}
		&.archive {
			#content.site-content {
				justify-content: center;
				align-items: center;
			}
		}
		&.single {
			#main-wrapper.full-width .main .entry-content .boldgrid-section {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		&.blog, &.archive, &.woocommerce, &.woocommerce-page {
			#main-wrapper.full-width.max-full-width {
				margin-left: auto;
				margin-right: auto;
				main.main {
					padding-left: 0;
					padding-right: 0;
				}
			}
			&.has-sidebar, &.woocommerce-page {
				#main-wrapper.full-width.max-full-width {
					main.main {
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}
		}
		&.search {
			#main-wrapper.full-width.max-full-width {
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	body[data-container="max-full-width"] {
		overflow-x: hidden;
		#masthead .boldgrid-section>.container-fluid .row.full-width-row,
		#masthead-sticky .boldgrid-section>.container-fluid .row.full-width-row,
		#colophon .boldgrid-section>.container-fluid .row.full-width-row,
		#main-wrapper.full-width.max-full-width .boldgrid-section>.container-fluid .row.full-width-row {
			position: relative;
			> div[class^=col-] {
				z-index: 1;
			}
			.fwr-container {
				width: calc( 100vw - 10px );
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				transform: translateX( -50% );
				z-index: 0;
				.fwr-left-container {
					position:absolute;
					left: 0;
					top: 0;
					bottom: 0;
				}
				.fwr-right-container {
					position:absolute;
					right: 0;
					top: 0;
					bottom: 0;
				}
			}
		}
	}
}

.page-header-wrapper {
	.page-header {
		.featured-imgage-header {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&.full-width {
		.page-header {
			.featured-imgage-header.container {
				padding-left: 45px;
				padding-right: 45px;
				.page-title {
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}
	&.container {
		.page-title {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.single {
	.page-header-wrapper  {
		&.container {
			.entry-title {
				+ .entry-meta {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}

.full-width {
	.entry-content {
		.boldgrid-section, .boldgrid-section-wrap {
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			&.boldgrid-slider {
				padding-left: 0px;
				padding-right: 0px;
			}
			.full-width {
				>.row {
					>div {
						padding-left: 0px;
						padding-right: 0px;
					}
				}
			}
		}
	}
}
.blog {
	#main-wrapper.full-width {
		max-width: 100%;
	}
	#main-wrapper.container {
		padding-left: 15px;
		padding-right: 15px;
		.main {
			padding: 0 15px;
			.post {
				.entry-header {
					.entry-title, .entry-meta {
						padding-left: 20px;
						padding-right: 20px;
					}
				}
				.entry-content {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
	}
	#masthead {
		.container {
			.hamburger {
				padding-left: 15px;
			}
		}
	}
}
.single {
	#main-wrapper.full-width {
		max-width: 100%;
	}
	.full-width {
		.entry-content {
			.boldgrid-section-wrap {
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}
}
body:not( .header-top ) {
	#colophon {
		&.site-footer {
			.boldgrid-section {
				.full-width {
					.row {
						.sm-clean {
							margin-left: 0px;
						}
					}
				}
			}
		}
	}
}
.bgtfw-footer {
	>.boldgrid-section {
		>.container {
			>.row {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
#colophon {
	.bgtfw-footer {
		&.template-footer{
			.bg-editor-hr-wrap {
				padding-left: 0px;
				padding-right: 0px;
				> div {
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
		>.boldgrid-section {
			>.container {
				>.row {
					>div {
						>aside {
							padding-left: 20px;
							padding-right: 20px;
							margin-left: 0px;
							margin-right: 0px;
						}
					}
					.attribution-theme-mods-wrapper {
						padding-left: 20px;
						padding-right: 20px;
						margin-left: 0px;
						margin-right: 0px;
					}
				}
			}
		}
	}
}
footer#colophon {
	.boldgrid-section {
		.row {
			.attribution-theme-mods-wrapper {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.single {
		&.page-title-above {
			&.has-sidebar {
				&:not(.woocommerce) {
					&.left-sidebar {
						#main-wrapper {
							&.full-width {
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}
	.has-sidebar {
		.full-width {
			.entry-content {
				.boldgrid-section {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}
	}

	.page-title-above {
		&.has-sidebar {
			&:not(.woocommerce) {
				&.left-sidebar {
					#main-wrapper {
						&.full-width {
							max-width: 100%;
							.main {
								padding: 0px;
								.aside {
									&.sidebar {
										margin-left: 0px;
										margin-right: 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#main-wrapper.full-width {
		.main {
			.entry-content {
				.container {
					> .row {
						&:not( .bg-editor-hr-wrap ) {
							margin-left: 0px;
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.has-sidebar.left-sidebar {
		#main-wrapper.full-width {
			.main {
				padding: 0px;
				aside.sidebar {
					margin-left:0px;
					margin-right:0px;
				}
			}
		}
	}
	#main-wrapper.full-width {
		.main {
			aside.sidebar {
				margin-left: -20px;
				margin-right: -20px;
				padding-left: 20px;
				padding-right: 20px;
				width: calc( 100% + 40px);
			}
			.entry-content {
				.container {
					.row {
						margin-left: 0px;
						margin-right: 0px;
					}
				}
			}
		}
	}
	#masthead .boldgrid-section .container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.page-header-wrapper.container {
		width: 100%;
	}
	.standard-menu-enabled {
		&:not(.header-left) {
			&:not(.header-right) {
				.site-header {
					.bgtfw-menu-wrap.w {
						.sm-clean.w {
							li.menu-item {
								&:first-of-type {
									> a {
										margin-left: 0px;
									}
								}
							}
						}
					}
					.bgtfw-menu-wrap.nw {
						.sm-clean.nw {
							li.menu-item {
								&:first-of-type {
									> a {
										margin-left: 0px;
									}
								}
							}
						}
					}
					.bgtfw-menu-wrap.sw {
						.sm-clean.sw {
							li.menu-item {
								&:first-of-type {
									> a {
										margin-left: 0px;
									}
								}
							}
						}
					}
					.bgtfw-menu-wrap.e {
						.sm-clean.e {
							li.menu-item {
								&:last-of-type {
									> a {
										margin-left: 0px;
									}
								}
							}
						}
					}
					.bgtfw-menu-wrap.se {
						.sm-clean.se {
							li.menu-item {
								&:last-of-type {
									> a {
										margin-left: 0px;
									}
								}
							}
						}
					}
					.bgtfw-menu-wrap.ne {
						.sm-clean.ne {
							li.menu-item {
								&:last-of-type {
									> a {
										margin-left: 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#masthead {
		.boldgrid-section {
			.container {
				.row {
					div.col-xs-12 {
						margin-left: 0px;
						margin-right: 0px;
						padding-left: 0px;
						padding-right: 0px;
						.sm-clean {
							margin-left: 0;
							margin-right: 0;
						}
						.site-branding {
							padding: 0 15px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {x
	footer#colophon {
		.boldgrid-section {
			.full-width {
				.row {
					aside.sidebar {
						margin-left: 0px;
						margin-right: 0px;
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}
		}
	}

	.has-sidebar.right-sidebar {
		#main-wrapper.full-width {
			.main {
				padding: 0px;
			}
		}
	}
}
@media only screen and (min-width: 992px) {
	.has-sidebar.right-sidebar {
		.site-content {
			flex-direction: column;
		}
	}

	.page-title-above {
		&.has-sidebar {
			&:not(.woocommerce) {
				&.left-sidebar {
					.main-wrapper {
						&.full-width {
							.article-wrapper {
								padding-left: 15px;
								padding-right: 15px;
								margin-left: auto;
								margin-right: -15px;
							}
							aside {
								.dynamic-sidebar {
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
