/* Mod Spacer */
@for $i from 1 through 5 {
	@if $i == 1 {
		.mod-space {
			background: none;
			height: #{$i * 15}px;
		}
	}
	.mod-space-#{$i}x {
		background: none;
		height: #{$i * 15}px;
	}
}

/* Mod Reset */
.mod-reset {
	margin: 0 !important;
	padding: 0 !important;
}

/* Images */
.mod-img,
.mod-img-circle,
.image-gallery img,
.video-gallery img,
.slideshow-gallery img {
	margin-bottom: 15px;
}
.mod-img-circle img {
	border-radius: 50%;
}
