/** **/
.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/** Post Format: Aside **/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.post-edit-link {
	padding: 0 8px;
}
.paging-navigation,
.post-navigation {
	display: flex;
	flex-basis: 100%;
	padding: 1em 0;
	.nav-links {
		display: flex;
		flex-basis: 100%;
	}
}
.paging-navigation {
	.nav-previous {
		margin-left: auto;
	}
}
.post-navigation {
	.nav-next {
		margin-left: auto;
	}
}
.panel {
	background: transparent;
}
