$colors: #000 #111 #222 #333 #444 !default;

// default palette
$palette-primary_1: #000 !default;
$palette-primary_2: #111 !default;
$palette-primary_3: #222 !default;
$palette-primary_4: #333 !default;
$palette-primary_5: #444 !default;
$palette-primary-neutral-color: #fff !default;
$palette-primary-transparent-color: rgba(255, 255, 255, 0.0) !default;

// colors returned for text against dark or light backgrounds.
$light-text: #fff !default;
$dark-text: #333 !default;

// Global padding variable
$padding: .5em;