// Default Widget Styles
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
.primary-sidebar aside:first-of-type .widget-title {
	margin-top: 0;
}

select[name="archive-dropdown"] {
	width: auto;
}
.footer-company-details .textwidget {
	text-align: center;
	color: white;
}
.widget.well{
	color: #333;
	a, .site-info a{
		color: #333;
	}
}
.boldgrid-widget {
	.widget-title {
		display: none;
	}
	&.widget {
		margin: 0;
	}
}

// Default Sidebar Message
.empty-sidebar-message {
	display: inline-block;
	a:hover {
		text-decoration: none;
	}
}
.add-widget-message a:hover {
	text-decoration: none;
}

// Search Widgets
.widget_search {
	.button-primary {
		height: auto;
		margin: 0;
		margin-top: 0;
		padding: 0 1em;
		line-height: 3;
		font-size: 14px;
	}
}

.widget_calendar {
	caption {
		color: currentColor;
	}
	td, th {
		padding: 8px;
		text-align: center;
	}
}

// Post and Page Builder widgets styles
.bgc-single-article .read-more {
	margin-top: 2em;
}

.boldgrid-shortcode .bgc-postlist .bgc-single-article {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
}
