@if variable-exists( button-primary-classes ) {
	.button-primary,
	.woocommerce .button {
		.palette-primary & {
			@extend #{$button-primary-classes} !optional;
		}
	}
}

@if variable-exists( button-secondary-classes ) {
	.button-secondary,
	.woocommerce .alt.button {
		.palette-primary & {
			@extend #{$button-secondary-classes} !optional;
		}
	}
}
