/**
* #.# Quick Start Guide styles
*/

#crio-draggable-cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}
#crio-quickstart-wrapper {
	opacity: 0;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 350px;
	height: fit-content;
	background-color: white;
	z-index: 999;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.43);
	span.unminimize {
		display:none;
	}
	.crio-quickstart-header {
		padding: 15px;
		display: flex;
		justify-content: space-between;
		color: white;
		background-color: #f95b26;
		cursor: move;
		.action-buttons {
			span {
				border-radius: 50%;
				background-color: white;
				color: #f95b26;
				&:hover {
					color: #fa8158;
					cursor: pointer;
				}
			}
		}
		.crio-icon {
			width: 40px;
    		padding: 5px 5px 5px 5px;
			img {
				transform: translateY(2px);
			}
		}
	}
	.crio-quickstart-content {
		height: fit-content;
		.content-nav {
			color: #f95b26;
			padding: 5px;
			font-weight: 600;
			span.breadcrumb-nav {
				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		.content-item {
			padding: 15px;
			box-shadow: 0px 1px 2px 0px #f95b26;
			.content-item-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.step-number {
					margin: 1em 0;
					font-size: 1.2em;
					border: 1px solid black;
					padding: 5px 10px;
					border-radius: 50%;
					font-weight: 600;
				}
				.quick-start-arrow {
					border: 1px solid;
					border-radius: 50%;
					padding: 5px;
				}
			}
		}
	}
	&.minimized {
		span.unminimize {
			display:block;
			opacity: 0;
			color: #fff;
			position: absolute;
			left: 50%;
			top: 2px;
			width: 1px;
			height: 1px;
			font-size: 1px;
			transform: translate(-50%);
			background-color: #f95b26;
			border: 1px solid #fff;
			border-radius: 50%;
			padding: 1px;
			cursor: pointer;
			transition: opacity 1s, left 1s, width 1s, height 1s, font-size, 1s;
			transition-delay: 0.5s;
		}
		&:hover {
			span.unminimize {
				animation-play-state: running;
				opacity: 1;
				left: 100%;
				height: 20px;
				width: 20px;
				font-size: 20px;
				transition-delay: 0s;
			}
		}
		width: auto;
		height: auto;
		border-radius: 50%;
		.crio-quickstart-header {
			border-radius: 50%;
			.crio-quickstart-title, .action-buttons {
				display: none;
			}
		}
		.crio-quickstart-content {
			display: none;
		}
	}
}