&.design-1 {
	border-top-left-radius: 3rem;
	border-bottom-right-radius: 3rem;
	.entry-title,
	.entry-meta {
		padding-right: 0;
		padding-left: 0;
	}
	.entry-title {
		margin-right: 3rem;
	}
	.entry-header .entry-meta .posted-on {
		padding: 7.5px;
		text-align: right;
		padding-right: 15px;
		padding-left: 15px;
	}
	.featured-imgage-header {
		border-top-left-radius: 3rem;
		height: 100%;
		padding-left: 3rem;
		padding-bottom: 0;
	}
	.entry-header,
	&.has-post-thumbnail .featured-imgage-header {
		border-top-left-radius: 3rem;
	}
	.entry-footer {
		padding-top: 15px;
		padding-bottom: 15px;
		span:last-child {
			padding-right: 15px;
		}
	}
}
