/**
* #.# Edit buttons.
*/
/* Generic dashicon settings for all buttons */
button[data-control]:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 20px/1 'dashicons';
  vertical-align: top; }

/* Edit button - pencil icon */
.icon-pencil:before {
  content: "\f464"; }

/* Edit button - plus icon */
.icon-plus:before {
  content: "\f132"; }

/* "New" buttons will have text added on hover */
button[data-control].new {
  overflow: hidden;
  white-space: nowrap; }

/* Default settings for all buttons. If updating z-index, update in edit.js as well. */
button[data-control] {
  font-size: 14px;
  font-family: monospace;
  padding: 5px;
  text-decoration: none;
  color: #000;
  background: #ddd;
  opacity: 0.75;
  border-radius: 4px;
  border: 0px;
  z-index: 210;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 20px;
  max-width: 30px; }

/* Orange / orange shadow for button hover. */
button[data-control]:hover,
button[data-control].highlight-button {
  opacity: 1;
  background: #f95b26;
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5); }

/**
* #.# jQuery UI Dialog.
*
* Custom settings for our jQuery UI Dialog, which is used for notices, such as when trying to edit
* a page's content.
*/
/* By default, ensure the dialog is hidden. */
.dialog-hidden {
  display: none; }

/* Generic settings to ensure a theme's css does not interfere with dialog. */
.ui-dialog {
  color: #000;
  max-width: 95%;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

/* Simulate wp-core-ui's button-primary */
.ui-dialog-buttonset button:first-of-type {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799; }

/* Images used within the dialog, such as the 'Show page title' image when editing a page title. */
#entry-title img {
  margin: 10px 0px; }

/**
* #.# Other
*/

/* This is the div that highlights a selector when the edit button is hovered. */
#target-highlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 200;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(249, 91, 38, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(249, 91, 38, 0.5);
  box-shadow: 0px 0px 10px 2px #f95b26; }

/**
* #.# Empty areas
*
* Style for empty areas, such as an empty widget area.
*/
/* By default, empty areas should have no height, which prevents empty areas from affecting page's appearance. */
[data-empty-area], .empty-menu {
  height: 0px; }

/* When an empty area is expanded, it will become the same height as an edit button. */
[data-empty-area].expanded,
.empty-menu.expanded {
  height: 30px; }
