&.layout-3 {
	.contact-block-wrapper,
	.attribution-theme-mods-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	input.hidden:not(:checked) ~ .sm-clean {
		width: auto;
		margin: 0 auto;
	}
}
