&.layout-5 {
	.contact-block-wrapper,
	.attribution-theme-mods-wrapper {
		justify-content: center;
	}
	.contact-block {
		text-align: center;
	}

	@media only screen and (min-width : 768px) {
		.social-menu-wrapper {
			flex-basis: 40%;
			order: 3;
			justify-content: flex-end;
		}
		.footer-center-menu-wrapper {
			flex-basis: 60%;
			order: 2;
			justify-content: flex-start;
		}
		.footer-center-items {
			justify-content: flex-start;
		}
		.social-menu-wrapper,
		.contact-block-wrapper,
		.attribution-theme-mods-wrapper {
			justify-content: flex-end;
		}
		.contact-block {
			text-align: right;
		}
	}
}
