&.layout-7 {
	.contact-block-wrapper,
	.attribution-theme-mods-wrapper {
		justify-content: center;
	}
	.footer-center-menu-wrapper {
		order: 1;
	}
	.social-menu-wrapper {
		order: 2;
	}
	.contact-block-wrapper {
		order: 3;
		text-align: center;
	}
	.attribution-theme-mods-wrapper {
		order: 4;
	}

	@media only screen and (min-width : 768px) {
		.footer-center-menu-wrapper,
		.social-menu-wrapper,
		.contact-block-wrapper,
		.attribution-theme-mods-wrapper {
			align-items: center;
			display: flex;
			flex-direction: row;
			flex-basis: 50%;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		.social-menu-wrapper {
			justify-content: flex-end;
			margin-top: 0;
		}
		.attribution-theme-mods-wrapper {
			justify-content: flex-end;
		}
		.contact-block-wrapper {
			text-align: left;
		}
	}
}
