/** Footer Styles **/
ul.footer-center-items {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
	margin-bottom: 0;
}
.footer-center-items.list-inline > li {
	padding-left: 0;
	padding-right: 0;
}
.footer-center-items.list-inline > li:not(:first-of-type) {
	margin-left: 1em;
}
footer .bgtfw-widget-row {
	margin-left: -15px;
	margin-right: -15px;
}
#colophon {
	padding: 1.5em 15px;
}
.contact-block:not(:empty) {
	margin-top: 1em;
}
.footer-content,
.footer-center-menu-wrapper,
.social-menu-wrapper,
.contact-block-wrapper,
.attribution-theme-mods-wrapper {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	flex-wrap: wrap;
}

#footer-widget-area {
	order: 1;
}
.social-menu-wrapper {
	order: 2;
}
.footer-center-menu-wrapper {
	order: 3;
}
.attribution-theme-mods-wrapper {
	order: 4;
}
.contact-block-wrapper {
	order: 5;
}

.site-footer {
	@import "1";
	@import "2";
	@import "3";
	@import "4";
	@import "5";
	@import "6";
	@import "7";
	@import "8";
}
