.header-left, .header-right {

	.site-header {

		.sm.sm-clean {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			height: auto;
		}

		#navi-wrap {
			display: block;
		}
	}
}

/* admin bar on mobile header fixed */
@media screen and (max-width: 782px) {
	.admin-bar.header-fixed{
		.header-left, .header-right {
			top: 46px;
		}
	}
}
@media only screen and (min-width: 768px) {
	.flexbox .header-left #boldgrid-sticky-wrap {
		flex-direction: row;
	}
	.flexbox .header-left.header-fixed #boldgrid-sticky-filler {
		flex: 0 0 auto;
	}
	.header-right, .header-left {
		.wp-custom-header,
		.site-header,
		#masthead {
			will-change: height, display, z-index, position;
			width: 400px;
		}
		#secondary-menu {
			justify-content: center;
		}
		&.header-fixed {
			.site-header {
				overflow-x: hidden;
				overflow-y: auto;
				height: 100vh;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
			}
		}
	}

	.flexbox .header-left .site-header {
		display: flex;
		flex: 0 0 400px;
	}
	.flexbox .header-left .site-content {
		width: calc(100% - 400px);
	}
	.flexbox .site-header {
		width: 100%;
	}
	/* Header adjustments */
	.flexbox .header-left.header-fixed .site-header {
		width: 400px;
		height: 100vh;
	}
	.flexbox .admin-bar.header-left.header-fixed .site-header {
		height: calc(100vh - 32px);
	}
	/* Footer Adjustment */
	.flexbox .header-left.header-fixed .site-footer {
		width: calc(100% - 400px);
		margin-left: 400px;
	}
	.flexbox .header-left.header-fixed .site-content {
		margin-left: 400px;
	}
	.flexbox .header-fixed .site-header {
		position: fixed;
		// Set z-index lower than customizer edit buttons @ 210.
		z-index: 201;
	}
}
// Header on Right.
@media only screen and (min-width: 768px) {
	.flexbox .header-right #boldgrid-sticky-wrap {
		flex-direction: row-reverse;
	}
	.flexbox .header-right.header-fixed #boldgrid-sticky-filler {
		flex: 0 0 auto;
	}
	.flexbox .header-right .site-header {
		display: flex;
		flex: 0 0 400px;
	}
	.flexbox .header-right .site-content {
		width: calc(100% - 400px);
	}

	// Menu Styles.
	.flexbox .header-left .site-header input:checked ~ .sm-clean,
	.flexbox .header-left .site-header input:not(:checked):not(.hidden) ~ .sm-clean,
	.flexbox .header-right .site-header input:checked ~ .sm-clean,
	.flexbox .header-right .site-header input:not(:checked):not(.hidden) ~ .sm-clean {
		display: block;
	}

	// Left w/ fixed position.
	.flexbox .header-right.header-fixed .site-header {
		position: fixed;
		width: 400px;
		height: 100vh;
	}
	/** Left w/ fixed position **/
	/* Header adjustments */
	.flexbox .admin-bar.header-right.header-fixed .site-header {
		height: calc(100vh - 32px);
	}
	/* Footer Adjustment */
	.flexbox .header-right.header-fixed .site-footer {
		width: calc(100% - 400px);
		margin-right: 400px;
	}
	.flexbox .header-right.header-fixed .site-content {
		margin-right: 400px;
	}
	.flexbox .header-fixed.header-left .wp-custom-header video,
	.flexbox .header-fixed.header-right .wp-custom-header video {
		min-height: 100vh;
		object-fit: cover;
		width: 100%;
		overflow: hidden;
	}
}

// header-left and header-right style for sidebar area in header.
.header-left,
.header-right {
	#header-widget-area {
		flex: 0;
		flex-direction: column;
		flex-wrap: nowrap;
		> .sidebar {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.header-left, .header-right {
	#header-widget-area {
		&.bgtfw-widget-row:first-child:after,
		&.bgtfw-widget-row:last-child:after {
			padding-bottom: 0;
		}
	}
}
