/**
 * Header clone.
 */
.header-top {
	.bgtfw-sticky-header {

		// Required styles.
		position: fixed;
		z-index: 401;
		top: 0;
		left: 0;
		width: 100%;

		// Translate -100% to move off screen.
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);

		// Animations.
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;

		// On stick apply the transform.
		&.bgtfw-stick {

			// Translate back to 0%.
			-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
			transform: translateY(0%);

			// @TODO: temp style.
			.custom-logo-link {
				margin-top: 10px;
				margin-bottom: 10px;

				.custom-logo {
					width: 100%;
				}
			}
		}
	}

	// Adjust for admin bar presence in WordPress.
	&.admin-bar .bgtfw-sticky-header.bgtfw-stick {
		top: 32px;
		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}
}

.custom-logo-link:not( .bgc_logo ) {
	margin-top: 15px;
	margin-bottom: 15px;

	.custom-logo {
		width: 100%;
		height: 100%;
	}
}
