// Sidebar Base Styles.
.has-sidebar .main + aside {
	width: 100%;
}

$adjust: multiply-use-first-unit( $padding, 2 );

@media only screen and (min-width : 992px) {
	.has-sidebar {
		.main {
			flex: 1 1 auto;
			width: calc((100% * (2/3)) + #{$adjust});
		}
		.main + aside {
			min-width: 300px;
			width: calc((100% * (1/3)) + #{$adjust} - 5.6rem);
			max-width: 325px;
			padding: 0 #{$adjust};
		}

		.site-content.container .main {
			width: calc((100% * (2/3)) + #{$adjust} - 30px);
		}
	}

	/* Sidebar Template Specific Styles */
	.has-sidebar {

		/** Left Sidebar **/
		&.left-sidebar {
			.site-content {
				flex-direction: row-reverse;
			}
		}

		/** Right Sidebar **/
		&.right-sidebar {
			.site-content {
				flex-direction: row;
			}
		}
	}
}
