/* Header Panel */
#sub-accordion-panel-bgtfw_header > li {
	&[id^="accordion-section-"] > h3:before {
		@include dashicons;
		content: "\f111";
	}
	&#accordion-section- {
		&bgtfw_header_colors > h3:before,
		&bgtfw_footer_colors > h3:before {
			content: "\f309";
		}
		&header_background_image > h3:before {
			content: "\f128";
		}
		&bgtfw_header_layout > h3:before {
			content: "\f489";
		}
		&bgtfw_site_title > h3:before {
			content: "\f227";
		}
		&bgtfw_tagline > h3:before {
			content: "\f323";
		}
		&title_tagline > h3:before {
			content: "\f513";
		}
		&bgtfw_header_widgets > h3:before {
			content: "\f538";
		}
		&header_image > h3:before {
			content: "\f128";
		}
	}
}
