/* Design Menu */
#sub-accordion-panel-bgtfw_design_panel > li {
	&[id^="accordion-section-"] > h3:before {
		@include dashicons;
		content: "\f111";
	}
	&#accordion-panel- {
		&bgtfw_header > h3:before {
			@include bgtfwIcons;
			content: "\e927";
		}
		&bgtfw_footer > h3:before {
			@include bgtfwIcons;
			content: "\e924";
		}
		&bgtfw_blog_panel > h3:before {
			@include dashicons;
			content: "\f109";
		}
	}
	&#accordion-section- {
		&static_front_page > h3:before {
			content: "\f102";
		}
		&bgtfw_layout_page > h3:before {
			content: "\f105";
		}
	}
}
