@if variable-exists( button-primary-classes ) {
	input[type=submit],
	.button-primary,
	.woocommerce .button,
	div.wpforms-container-full .wpforms-form button[type=submit] {
		.palette-primary & {
			@extend #{$button-primary-classes};
		}
	}
}

@if variable-exists( button-secondary-classes ) {
	.button-secondary,
	.woocommerce .alt.button {
		.palette-primary & {
			@extend #{$button-secondary-classes};
		}
	}
}
