/** Headings **/
.palette-primary {
	@include headings() {
		line-height: 1.1;
	}
}

/* Removes Blue Box in Chrome */
*:focus {
	outline: 0;
}

/* Post/Page password protected styles */
.post-password-form .button-primary {
	margin-left: 9px;
}
