@import "header/slide-in";

#masthead, #masthead-clone, #colophon {
	.boldgrid-section .row {
		display: flex;
		flex-wrap: wrap;
		aside.sidebar {
			margin-left: -15px;
			margin-right: -15px;
			height: 100%;
		}
	}
}
