/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-size: 1rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

img.alignleft {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

img.alignright {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

/*--------------------------------------------------------------
# Infinite Scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Something
--------------------------------------------------------------*/
/* Mod Spacer */
@for $i from 1 through 5 {
	@if $i == 1 {
		.mod-space {
			background: none;
			height: #{$i * 15}px;
		}
	}
	.mod-space-#{$i}x {
		background: none;
		height: #{$i * 15}px;
	}
}

/* Mod Reset */
.boldgrid-section .row .mod-reset {
	margin: 0;
	padding: 0;
}

/* Images */
.mod-img,
.mod-img-circle,
.image-gallery img,
.video-gallery img,
.slideshow-gallery img {
	margin-bottom: 15px;
}
.mod-img-circle img {
	border-radius: 50%;
}
