/* BGTFW Menus */
.boldgrid-framework-menu {
	display: flex;
}
.no-collapse .nav > li {
	float: left;
}
@media only screen and (max-width : 768px) {
	.no-collapse {
		.navbar-nav {
			margin: 0;
		}
	}
}
