/** **/
.sticky {
	display: block;
	& .entry-title > a:before {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f249";
		margin-right: 1.5rem;
	}
}

.updated:not(.published){
	display: none;
}

.byline {
	display: inline-block;
	white-space: pre-wrap;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/** Post Format: Aside **/

main > article.post.format-aside .entry-header {
	display: none;
}

.post-edit-link {
	padding: 0 8px;
}
.paging-navigation,
.post-navigation {
	display: flex;
	flex-basis: 100%;
	padding: 0 15px;
	.nav-links {
		display: flex;
		flex-basis: 100%;
	}
}
.paging-navigation {
	.nav-previous {
		margin-left: auto;
	}
}
.post-navigation {
	.nav-next {
		margin-left: auto;
	}
}
