// Header on top specific styles (this is the default style).
@media only screen and (min-width: 768px) {
	.flexbox .header-fixed.header-top .wp-custom-header {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		video {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

// Youtube video iframe background styles.
.has-youtube-header .wp-custom-header {
	background: #eee;
	height: 100%;
	overflow: hidden;
	padding: 0;
}

/**
* This is used to provide a similar effect as object-fit: cover for Youtube video embeds
* The magic number 56.25vw maintains the 16:9 aspect ratio for the height based on the
* viewport's width.
*/
.has-youtube-header iframe#wp-custom-header-video {
	box-sizing: border-box;
	height: 56.25vw;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	max-width: 3000%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	width: 177.77777778vh;
}

@media only screen and (min-width: 768px) {
	.has-youtube-header #navi-wrap {
		display: block;
		flex-wrap: wrap;
		align-self: center;
	}

	.header-left, .header-right {
		.has-youtube-header .custom-header-media {
			height: 100%;
		}
	}
}

// Set up header for flex styles.
#masthead {
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#navi-wrap {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	background-color: transparent !important;
	margin-right: 0;
	margin-left: 0;
	&:not(.container){
		width: 100%;
	}
	&.container > #header-widget-area {
		margin:1em calc(50% - 50vw);
	}
}
.header0-op {
	flex-basis: 100%;
}
#navi {
	background-color: transparent !important;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

@media only screen and (min-width : 768px) {
	#navi-wrap {
		width: 100%;
	}
	#navi.container {
		flex-basis: auto;
	}
	.main-menu-btn {
		margin-top: -1em;
	}
}

// Allow box shadow display.
.site-header {
	z-index: 1;
}

.wp-custom-header {
	position: absolute;
	overflow: hidden;
	max-width: 100%;

	// Fixes bug with video background adding gaps on scroll with object-fit cover on chrome.
	width: 100%;
	height: calc( 100% + 2px );
	margin-top: -2px;
	z-index: -1;
	.has-video-header &,
	.has-header-image &,
	.has-youtube-header & {
		z-index: 0;
	}
}

.wp-custom-header video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.header-top .wp-custom-header video {
	width: 100vw;
}
.wp-custom-header img {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.header {
	position: relative;

	.wp-custom-header {
		top: 0;
		left: 0;
		bottom: 0;
		height: auto;
		max-height: 100vh;
	}
}

/*
 * Unset the user controled padding on mobile for header media. Reason: Media
 * doesnt fill space on mobile beacuse of hameber menus.
 */
@media only screen and (max-width: 767px) {
	.has-video-header,
	.has-header-image,
	.has-youtube-header {
		.site-header header {
			padding: 0;
		}
	}
}

// Site content.
.home.blog.no-sidebar .site-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
}

// Archive Pages.
.home.blog .main > .row > div {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.post {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	width: calc((100% / 1 - .5vw) - 2vw);
	margin: 1vw;
}
.single .post {
	width: auto;
	margin: 0;
}
[class^="column-"] .post {
	flex-direction: column;
	flex: 0 0 auto;
}
.column-2 .post {
	width: calc((100% / 2 - .5vw) - 2vw);
}
.column-3 .post {
	width: calc((100% / 3 - .5vw) - 2vw);
}

.single .post {
	margin-top: 0;
	margin-bottom: 0;
}

// Post navigation.
nav.navigation.posts-navigation {
	display: flex;
	width: 100%;
	padding: 0 3.5vw;
}

// No JS sticky header to preserve style.
.no-js.flexbox .header-fixed .bgtfw-layout {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	overflow-y: scroll;
	max-height: 100%;
}
.no-js.flexbox .header-fixed #boldgrid-sticky-wrap {
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
}
.no-js.flexbox body.sticky-footer-enabled.header-fixed {
	overflow: hidden;
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

// Featured Img Pages.
body.page .has-post-thumbnail .entry-header {
	margin-left: -2.8rem;
	margin-right: -2.8rem;
	padding: 2.8rem;
	.entry-title {
		text-align: center;
		a {
			color: currentColor;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
