#customize-controls {
	[id^="accordion-panel-bgtfw_menu_items_"] > h3.accordion-section-title:before {
		content: "\f325";
	}
	[id^="accordion-panel-bgtfw_menu_items_active_item_"] > h3.accordion-section-title:before {
		content: "\f103";
	}
	[id^="accordion-section-bgtfw_menu_items_hover_item_"] > h3.accordion-section-title:before {
		text-decoration: underline;
	}
}
