/* Typography Panel */
#sub-accordion-panel-boldgrid_typography > li {
	&[id^="accordion-section-"] > h3:before {
		@include dashicons;
		content: "\f111";
	}
	&#accordion-section- {
		/* Menu Typography Section */
		&navigation_typography > h3:before {
			content: "\f333";
		}
		/* Headings Section */
		&headings_typography > h3:before {
			@include FontAwesome;
			content: "\f1dc";
		}
		/* Main Text Section */
		&body_typography > h3:before {
			@include FontAwesome;
			content: "\f1dd";
			padding: 0.65em;
		}
	}
}
