/* Footer Panel */
#sub-accordion-panel-bgtfw_footer > li {
	&[id^="accordion-section-"] > h3:before {
		@include dashicons;
		content: "\f111";
	}
	&#accordion-section- {
		&boldgrid_footer_panel > h3:before {
			content: "\f489"
		}
		&bgtfw_footer_widgets > h3:before {
			content: "\f538";
		}
		&bgtfw_footer_colors > h3:before {
			content: "\f309";
		}
	}
}
