/* Site Content */
#sub-accordion-panel-bgtfw_site_content > li {
	&[id^="accordion-section-"] > h3:before {
		@include dashicons;
		content: "\f111";
	}
	&#accordion-section- {
		&bgtfw_body_link_design > h3:before {
			content: "\f103";
		}
		&bgtfw_global_page_titles > h3:before {
			@include bgtfwIcons;
			content: "\e927";
		}
	}
}
