.single {
	.post {
		flex-direction: column;
		flex-wrap: nowrap;
		.entry-header {
			.entry-title {
				margin: 2.4rem 0;
			}
			.entry-meta {
				margin-bottom: 2.4rem;
			}
		}
		.entry-footer {
			~ .navigation.post-navigation {
				margin-top: 4rem;
			}
			.cat-links ~ .bgtfw-edit-link {
				margin-top: 2rem;
			}
			.bgtfw-edit-link a {
				left: -3px;
			}
			.cat-links, .tags-links {
				padding: .5em 0;
			}
		}
		.wp-post-image {
			display: block;
			margin: 0 auto 2.8rem auto;
		}
	}
}
