/* Buttons need some tweaks */
&.woocommerce,
&.woocommerce-page {
	/* Base Buttons */
	.button-primary,
	.button-secondary {
		height: auto;
		padding: 0 1em;
		margin: 0;
		line-height: 3;
		font-size: 14px;
	}
	/* Cross Sells */
	.cross-sells .products {
		.btn.button-primary {
			padding: 0;
		}
	}
	.single_variation_wrap {
		.woocommerce-variation-add-to-cart.variations_button {
			.btn.button-primary {
				margin-top: 1em;
			}
		}
	}
}
