.woocommerce-store-notice, p.demo_store {
	display: flex;
	font-size: 1.6rem;
	align-items: center;
	justify-content: center;
	margin: 0;
	position: fixed;
	bottom: 0px;
	top: inherit;

	@at-root #{selector-append('.header-fixed.header-top', &)} {
		height: 57px;
		min-height: 57px;
		padding: 0;
		height: 57px;
		min-height: 57px;
		padding: 0;
		position: fixed;
		height: fit-content;
		bottom: 0px;
		top: inherit;
	}
	@at-root #{selector-append('.header-left,.header-right', &)} {
		height: 57px;
		min-height: 57px;
		padding: 0;
		position: relative;
		width: calc(100% + (2 * 2.8rem));
		margin-left: -2.8rem;
		margin-right: -2.8rem;
	}

	a {
		padding-left: 1em;
		padding-right: 1em;
	}
}
