/* Products */
&.archive main {
	justify-content: space-between;
	align-items: center;
	.page-title,
	.woocommerce-result-count,
	.woocommerce-ordering {
		margin: 20px 0;
	}
}
ul.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0 0 2em;
	li.product {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin: 0;
		margin-top: 2em;
		padding: 1em;
		@include grid( 4 );
	}
	@for $i from 1 through 12 {
		&.columns-#{$i} li.product {
			@include grid( $i );
		}
	}
}
